[2014-08-31 18:12] Samsinite opened #16 "Authorization"
Hey guys,

This gem/library looks great! What about directly supporting an option to easily hook up authorization instead of requiring the resource controller index/show/create/update/destroy methods to be overridden?

Something like a simple interface that filters for index/read_list, returns true/false for show/create/update/destroy, and if in the future updating lists or destroying lists are su

[2014-11-12 09:12] arantir opened #40 "Going to be full-featured?"
I'm really excited with jsonapi, it fits my needs with elegance and simplicity. This implementation seems the best for my needs and looks promising.

I thought about several features so decided to ask more general question. Will it be a full-featured implementation with all the features the spec provides? Including optional enabling of optional features (no force usage) and so on... Because it loo

[2014-12-01 18:20] xdmx opened #45 "Integrate with kaminari or will_paginate"
I find this project the best one to implement the json api under a rails project.

The only thing I really miss is some kind of pagination integration (I know that it's still not in the json api spec, sadly), anyway, it'd be very useful some kind of integration with kaminari or will_paginate, with the ability to pass the page and page size to return.

It'd be awesome to also support different page

[2014-12-12 15:08] wvteijlingen opened #50 "Booleans serialized to string"
I have a custom attribute in my model that returns a boolean. These are always serialized into either "false" or "true" instead of true boolean values.

Am I missing something or is this a bug?

[2014-12-17 01:35] realityendshere opened #51 "Configure for use without ActiveRecord?"
In experimenting with this gem, I seem to run into trouble trying to use this with a NoSQL-style database instead of ActiveRecord. When trying to create new records with POST, I encounter the error:

[code]

Can the gem be configured to use alternative data storage strategies?

Thanks.

[2015-01-06 13:28] tadast commented on #50
Just to add to this issue: Hash and Array type values are also serialised incorrectly :)

Would it be difficult to just use JSON.dump by default? And then the attribute serialization could be custmized by overriding the method on the Resource class

[2015-01-06 14:54] tadast commented on #40
Any plans to support/accept PRs for Compound documents? http://jsonapi.org/format/#document-structure-compound-documents

[2015-01-09 14:44] barelyknown opened #55 "Should id values be formatted as strings by default?"
The [json:api specification](http://jsonapi.org/format/#document-structure-individual-resource-representations) says that the value of the `id` should be a string, but `jsonapi-resources` is not calling `to_s` on it by default. Should it?

[2015-01-09 14:59] lgebhardt commented on #55
Yes, at this point we should be calling to_s on ids in order to be compliant with JSON API.

I think the spec should be changed to allow integer ids, since JSON supports integers. However until this is changed you are correct that `jsonapi-resources` is not compliant. I'll see about getting this fixed soon.

[2015-01-09 15:07] barelyknown commented on #55
I plan on using this library for a number of projects, so I'd be happy to make that change if you'd like. Should we add the feature through a configuration flag, and if so, should we make the current behavior the default, or the compliant behavior the default?

[2015-01-09 15:27] lgebhardt commented on #55
@barelyknown if you want to fix this that would be great. I think we should just go for compliance, so no configuration option is needed. If the spec changes we'll just go with that.

[2015-01-09 16:28] barelyknown commented on #55
Sounds good. PR on its way later today.

[2015-01-10 00:55] barelyknown commented on #55
Thanks for merging!

[2015-01-10 00:55] #55 closed

[2015-01-11 15:36] dgeb commented on #50
@lgebhardt this can be closed now, right?

[2015-01-11 18:11] lgebhardt commented on #50
Yes, I think this is all set. Please reopen it if that is not the case.

[2015-01-11 18:11] #50 closed

[2015-01-11 18:13] lgebhardt commented on #50
@tadast, could you please open a new issue if Hash and Array types are not being serialized correctly.

[2015-01-11 19:10] lgebhardt commented on #40
Closing

[2015-01-11 19:10] #40 closed

[2015-01-20 13:20] barelyknown opened #59 "Require jsonapi/resource_controller in main file?"
`jsonapi/resource_controller` is not required in the main, but it feels like it should be. How do you feel about making that change?

[2015-01-20 13:40] lgebhardt commented on #59
@barelyknown I think that makes sense. But I'd like to get `active_record_operations_processor` out of the required list for `jsonapi/resource_controller` at the same time. Ideally JR would be agnostic on the choice of ORM. As it is now it's closely tied to ActiveRecord. I think that's the reason I left `jsonapi/resource_controller` out.

[2015-01-20 13:41] barelyknown commented on #59
OK. Maybe wait until it's agnostic to make that change then. It's not a big deal to require it in the controller, but I just wanted to make things easier for new users.

[2015-01-20 13:47] lgebhardt commented on #59
I agree that it would make things easier for new users. I hope to get back to the ORM issue soon.

[2015-01-21 14:41] barelyknown opened #62 "Make hook available to authorize resource?"
I'd like to authorize resources using an approach like the convention followed by [`pundit`](https://github.com/elabs/pundit). Here's what a typical controller action would look like (from the `pundit` documentation).

[code]

First you get the resource, then authorize it (which raises an exception if it fails), and then proceed.

For the index action, `pundit` provides the concept of a "scope" wh

[2015-01-22 01:49] lgebhardt commented on #62
@barelyknown In my code we're using the `before_operation` method on a custom OperationProcessor to add a callback:

[code]

We then derive all of our resources from an intermediate `BaseResource` that implements the `approve_operation` method.

We initially had a before_save callback implemented in almost exactly the same way #63 does, but I pulled it in favor of the `before_operation` on the `Op

[2015-01-22 02:11] barelyknown commented on #62
I didn't even notice that option! Serves me right for not waiting to hear back from you on the issue.

The problem that I see is that I need to build the records to authorize the action. But, the records are built inside of the `apply` method. So, I like the `before_operation` approach, but it feels like we need a similar idea inserted between when we build the records and when we take the action.

[2015-01-22 02:19] lgebhardt commented on #62
I see. We could put the `before_save` and `after_save` callbacks in place and have them called from the `apply` method, like this:

[code]

That way you could choose the appropriate place for the call back, either on the operation or the resource. And users could override `save` on the resource without disabling the callbacks.

[2015-01-22 02:20] barelyknown commented on #62
That seems right. Want me to make that adjustment?

[2015-01-22 02:33] lgebhardt commented on #62
To be complete we should probably also have callbacks for `before_remove` and `after_remove`.

And the `CreateHasManyAssociationOperation` and `RemoveHasManyAssociationOperation` don't call `save`, but it feels like maybe we should have a callback for those.

I also wonder if we want to include any additional meta information, like which operation is making the `save` call, or even the operation i

[2015-01-22 17:24] dgeb commented on #62
I've been talking with @lgebhardt and we are leaning towards making actions such as `replace_fields` more discrete on the resources themselves by having them internally call `save` (instead of having the operations processor call `replace_fields` *then* `save`).

@barelyknown what is your use case for a callback between replacing fields and saving the record? If you're looking for a general authen

[2015-01-22 17:39] barelyknown commented on #62
I didn't want a callback between `replace_fields` and `save`. I wanted one between getting the resource and `save`. The use case is authorizing that the action can be taken on the resource by the user. I am using [`pundit`](https://github.com/elabs/pundit) to manage authorization.

[2015-01-22 18:26] lgebhardt commented on #62
Sorry, I misunderstood what the issue was. It makes a lot more sense now.

[2015-01-22 18:36] 7h3kk1d commented on #45
I could really use this feature and can help if needed.

[2015-01-22 18:53] lgebhardt commented on #62
I'm going to start a branch for calling the `save` method from the resource. That will let us move the origination of any callbacks into the resource.

@dgeb and I talked about changing the operations processor callbacks to use the Rails callback chain pattern. This should be cleaner than the way it currently is. I'll also rework the operations processor callbacks in this branch.

We still need to

[2015-01-22 18:58] dgeb commented on #62
Thanks for the clarification. I was thrown by the location of @lgebhardt's `before_save` hook in his code snippet above:

[code]

I'd prefer that `save` be called from within the call to `replace_fields`. Sounds like that won't be an issue for you, as long as you have a chance to authorize the operation before it's invoked.

[2015-01-22 19:00] dgeb commented on #62
(whoops - my reply above was sent before seeing either of @lgebhardt's replies)

[2015-01-22 19:09] barelyknown commented on #62
Let me know if you need a hand with it.

[2015-01-22 19:26] lgebhardt commented on #62
@barelyknown, if you want to help that would be great. Are you up for reworking the `OperationsProcessor` callbacks?

Ideally they would use ActiveSupport::Callbacks (http://apidock.com/rails/ActiveSupport/Callbacks). For example my custom operations processor above would become:

[code]

[2015-01-22 20:26] barelyknown commented on #62
How are you imagining the callback would have access to the resources that had been loaded by the operation?

[2015-01-22 21:14] lgebhardt commented on #62
Sorry, I'm thinking we would be adding callbacks to the resource. And I'd want the callbacks on the operations processor to work the same way. I'll add them to resource for now and we can see if we like it. Then we can change the operations processor to match the style.

[2015-01-22 21:23] barelyknown commented on #62
Oh, right. I just didn't read carefully. So, the resource would just use its `@model`. That makes sense.

[2015-01-23 12:05] barelyknown commented on #62
I actually did come across the need for the callback between `replace_fields` and `save` this morning. The use case required authorization to check if the user had permission to save the record in its updated form.

[2015-01-23 16:23] lgebhardt commented on #62
@barelyknown, https://github.com/cerebris/jsonapi-resources/pull/65 adds callbacks to all the methods called by the operations processor as well as to the save method and a general create and update callback.

[2015-01-23 16:38] barelyknown commented on #62
Wow, that was fast. Thanks so much.

It looks like `save` includes `create` and `update`, and `remove` is not included in `save`. That's correct?

If you're not already working on it, I'd be happy to document it for the README. Should I?

[2015-01-23 16:45] lgebhardt commented on #62
@barelyknown I can't believe I forgot the readme again. I guess I really hate documentation. If you're up for the task I'd definitely appreciate it.

The `save` method is not called by every operation, only those that directly change the model. The `save` callbacks are only fired when the `save` method is called. I'm not sure if that answers your question, or if the `save` callbacks will fully wor

[2015-01-23 17:24] barelyknown commented on #62
Really great work. It only took 10 minutes to swap in your branch.

For what it's worth, the design allowed me to handle authorization on every action in a really nice way.

[code]

[2015-01-23 17:27] barelyknown commented on #62
I'll document the feature in the README now.

[2015-01-23 19:48] #62 closed

[2015-01-23 19:48] barelyknown commented on #59
Closing this for now.

[2015-01-23 19:48] #59 closed

[2015-01-23 19:52] barelyknown opened #67 "What timing are you expecting for JSONAPI 1.0 and support (at least partial) from jsonapi-resources?"
I'm working on a new application, and I need to make a decision pretty soon about which variant of the json:api specification it will be based on. I saw that RC2 was published by @dgeb earlier this week and that @lgebhardt pushed a branch of this library with partial support. Which direction would you recommend I go? If possible, I'd really like to conform to V1 of the spec...

[2015-01-23 20:03] dgeb commented on #67
@barelyknown I've been trying to coordinate with the other two leads on the spec, but it's been a rough week to schedule. I am absolutely committed to pushing the spec to 1.0 soon and would bet that RC2 will be close to final. Unfortunately, there are still a few loose ends and coordination has been challenging.

Last but not least, we're committed to ensuring jsonapi-resources conforms to the 1.0

[2015-01-23 20:41] barelyknown commented on #67
OK, let me know how I can help. I'm going to try to put this new app on the 1.0 spec, so I'll delay as long as possible and then switch to the branch that'll support 1.0 as soon as I hear from you and @lgebhardt that it makes sense to do so.

[2015-01-23 20:49] barelyknown commented on #16
It might help others to see how I'm handing authorization. I'm pretty happy with the approach.

I'm using the [`pundit`](https://github.com/elabs/pundit) gem for authorization in combination with the new callbacks that are available in v0.1.0 of jsonapi-resources..

This is what my `BaseResource` class looks like.

[code]

[2015-01-24 15:02] xdmx commented on #67
I really wish the final 1.0 will also support pagination, in my opinion it's quite a fundamental piece in order to have a good spec for the real world™

[2015-01-26 17:35] 7h3kk1d commented on #45
I've gotten a paginated sample using the [api-pagination](https://github.com/davidcelis/api-pagination) gem to achieve link headers. It would be nice to be able to use a mixin or something instead of overwriting the index fully as well as an alternative for the filter hack (maybe a extra params option?).

Controller:
[code]

Resource:
[code]

[2015-01-26 19:33] lgebhardt commented on #45
@7h3kk1d, I'm starting to look at pagination today. At this point I'm thinking the system will support multiple pagination systems, with the option to define a default paginator and each resource can override this with a different paginator. The idea being that as a resource evolves, over several supported versions, there may be a desire to switch pagination styles.

A paginator will be involved i

[2015-01-26 19:53] 7h3kk1d commented on #45
@lgebhardt Yeah that sounds good. It's similar to how activemodel serializer handles serializers. It would be nice for the paginator  to also be able to modify the link headers and/or response hash to give pagination data. Are you looking at any sort of change that would introduce the meta attribute?

If you need anything just let me know.

[2015-01-26 20:02] lgebhardt commented on #45
@7h3kk1d I plan on having the paginator produce the required links. The location and format will conform to the updated spec.

I do need some help in defining what the default types of pagination should be. At this point I have a rough idea that we will support "paged", "offset", and possibly "cursored" styles. But I'm not sure on the full set of details of how each of these will work. So any help

[2015-01-26 20:19] 7h3kk1d commented on #45
Does the spec actually outline pagination?

Default should probably be no pagination. Cursor/limitoffset/paged would be the 3 most common I think. Should also probably give custom cursor names for either timestamps or ids.

[2015-01-27 04:18] lgebhardt commented on #45
I've pushed some changes to https://github.com/cerebris/jsonapi-resources/tree/jsonapi_rc2 that start the pagination work. There are currently two very similar paginators, offset and paged. Paged is really a specialized version of the offset, so they are very similar. No docs yet, but they'll added soon. And the default is no pagination.

[2015-01-27 20:13] hderms opened #68 "Support for non-CRUD actions"
Hey, I had a use-case where I was trying to create a controller action which didn't fit neatly into CRUD actions. I'm wondering if there's a way to do this in jsonapi-resources without too much trouble. I'd like to take advantage of the standardized success/error response formatting, but don't want to play too much around with the internals to achieve this goal. Anyone have any ideas?

[2015-01-27 22:46] lgebhardt commented on #68
Have you tried adding the method to your controller?

[2015-01-27 22:57] hderms commented on #68
@lgebhardt yeah, I have. I'm thinking about stuff like what if my controller action raises an exception, it would be nice to have a way to make it render errors in the same format as jsonapi-resources, etc...

[2015-01-27 23:04] lgebhardt commented on #68
You could reuse the `handle_exceptions` method. For example:

[code]

You would need to make sure all your exceptions are derived from `JSONAPI::Exceptions::Error`, or you could override the `handle_exceptions` class to account for your custom exceptions.

[2015-01-28 13:38] kellysutton opened #69 "Enforce application/vnd.api+json Content-Type header on Create and Update requestss"
Per the JSON API spec: http://jsonapi.org/format/#crud

   Any requests that contain content **MUST** include a Content-Type header whose value is `application/vnd.api+json`.

Currently, using a `JSONAPI::ResourceController` routed via the `jsonapi_resources` route directive will return a cryptic error message with an `HTTP 400`, when the Content-Type header is set correctly to `application/vnd.ap

[2015-01-28 16:58] 7h3kk1d opened #70 "Has_one relation doesn't check for existence"
I'm not sure if I'm doing something wrong but I have a has_one relationship in one of my resources and if I create an instance using the create route and put in a links parameter. It doesn't check if the associated record exists before retrieving it.

[2015-01-28 17:31] #70 closed

[2015-01-28 17:33] lgebhardt commented on #70
I was just starting to look at this. What was the resolution?

[2015-01-28 17:40] 7h3kk1d commented on #70
I reworked something on my end so it didn't matter anymore. I didn't want to create more work if no one else was complaining.

[2015-01-28 17:41] lgebhardt commented on #70
Ok, thanks. I'll still take a look at it then.

[2015-01-28 17:49] barelyknown commented on #67
Any update on this? I have a meeting a bit later today where we're discussing the standard to settle on.

[2015-01-28 18:14] dgeb commented on #67
@barelyknown we've had our meeting and resolved all the big decisions. It's now up to me to finish writing the RC2 PR in the next couple days.

@xdmx pagination will be covered by the 1.0 spec in a flexible but still useful way.

[2015-01-28 18:28] barelyknown commented on #67
@dgeb Great. Thanks. I'll see if we can stall for a week.

[2015-01-28 19:29] xdmx commented on #67
@dgeb awesome, thank you for your precious work on the json api spec

[2015-01-29 15:01] lgebhardt commented on #70
Were you seeing the normal Rails behavior of not validating the existence of a related object? If so, there are a few ways you can fix that. The first is using a validation gem such as https://github.com/perfectline/validates_existence, which I have not tested. Another way would  be to put foreign key constraints on the database and handle the error when the resource is saved. And finally you coul

[2015-01-29 15:32] 7h3kk1d commented on #70
Okay. Thanks very much! I added the database constraint.

[2015-01-29 17:53] 7h3kk1d commented on #68
Similarly what's the standard for overriding a crud action and allowing other parameters. I have an object which takes file upload which obviously is using multipart form-data so I don't want to use the default controller action.

[2015-01-29 18:13] lgebhardt commented on #68
I think one approach that has potential would be to check the Content-Type header. If the Content-Type is `application/vnd.api+json` you could treat the request as a JSONAPI request, and otherwise you could process it as a file upload.

The content type is not currently being enforced through the controller, but #69 is almost ready.

Once #69 is merged you could try some code like (I have not test

[2015-01-31 17:45] kellysutton opened #73 "Specify the correct Content-Type in the response headers"
Currently, all response headers generated by `ResourceController` instances specify the `application/json` Content-Type header. While not explicitly declared in the spec, the examples imply that that all responses with payloads should specify the `application/vnd.api+json` Content-Type response header.

Expect result:

All `ResourceController` responses with data should include the `application/vn

[2015-02-01 20:10] kellysutton opened #74 "Build caching into JSONAPI::ResourceSerializer"
Much like the 0.8.x versions of ActiveModel::Serializer, I propose that JSONAPI::ResourceSerializer should support the `cached` directive to enable caching of responses via `Rails.cache`.

The cache keys themselves should be based upon `@model.cache_key`.

There will be some gotchas with caching that will need to be tested for, namely around serializing multiple resources into a single payload, an

[2015-02-02 15:06] kellysutton opened #75 "Support to-many relationships as collection objects"
Currently, adding objects to a to-many relationship using the collection object passes incorrectly data (namely, the collection object) to the target model. Most target models then blow up, since they are expecting an array of IDs.

Example object with a linked collection object:

[code]

Expected result: `JSONAPI::ResourceController` correctly enforces the type constraint and then properly saniti

[2015-02-09 15:09] miguelsan opened #76 "New JsonApi spec"
Hi guys, the jsonapi spec [is undergoing major changes](https://github.com/json-api/json-api/pull/341). Are you aware of them? Will you have any plans about it?

I'd love to be able to keep using this gem in the future.

[2015-02-09 15:22] lgebhardt commented on #76
@miguelsan, yes we are very much aware of the changes. I've got a branch (https://github.com/cerebris/jsonapi-resources/tree/jsonapi_rc2) where I've started bringing this gem into compliance with the proposed changes.

[2015-02-11 14:53] barelyknown opened #77 "How should polymorphic relationships be handled?"
I have a class with a polymorphic relationship.

[code]

I would like to do something like this:

[code]

This doesn't appear to be supported by `jsonapi-resources` yet (I checked `master` and `jsonapi_rc2`), but since polymorphism is supported in RC2, it seems like we should add it.

What are you thinking for this feature? I'd be happy to help.

[2015-02-11 16:06] lgebhardt commented on #77
@barelyknown I was planning on adding polymorphism support to `jsonapi-resources` in the future. If you want to tackle adding support to the `jsonapi_rc2` branch that would be nice. I haven't given the implementation details a whole lot of thought, but if you need someone to bounce some ideas off of let me know.

[2015-02-11 20:40] stevenharman commented on #76
Perhaps we could close this issues and track https://github.com/cerebris/jsonapi-resources/issues/67 instead?

[2015-02-11 21:13] dgeb commented on #67
As referenced in #76, I've [opened a PR in JSON API](https://github.com/json-api/json-api/pull/341) to allow for review of the upcoming spec changes. Work has already begun here in the [jsonapi_rc2 branch](https://github.com/cerebris/jsonapi-resources/tree/jsonapi_rc2) to support these changes.

[2015-02-11 21:14] dgeb commented on #76
@stevenharman good idea - I just updated #67 with the relevant details from here.

[2015-02-11 21:14] #76 closed

[2015-02-12 13:42] barelyknown opened #78 ":id must be in the updateable_fields for RC2?"
I'm working on converting an application over to the `jsonapi_rc2` branch. I just noticed that a resource must have `:id` in its `updateable_fields` or else it receives a `Param not allowed` error (because `:id` is not in the `formatted_allowed_fields`). But, if you leave `:id` out of the `data`, you receive an "A key is required" error.

What is the intended behavior? I'm working on this today an

[2015-02-12 14:38] lgebhardt commented on #78
That behavior was not intended.  Since `type` and `id` are required fields in the spec I'd like to remove them from being processed by the `updateable_fields` and `createable_fields` functions. In other words the resource shouldn't be able to override the spec. I added a hack where I insert the `id` field in the `inherited` method. This was done to allow a formatter to be set for the `id`, but I'v

[2015-02-12 20:55] barelyknown commented on #78
Closed by https://github.com/cerebris/jsonapi-resources/pull/79.

[2015-02-12 20:55] #78 closed

[2015-02-18 17:02] miguelsan opened #80 "Improve documentation on filters"
I have read the docs and done an above review of filters and still don't really understand their effect, or what do they offer that cannot be achieved through the usage of `fetchable_fields` and finders. I'd like somebody to shed more light on this.

[2015-02-18 17:33] lgebhardt commented on #80
The filters allow you to restrict the resources returned (think search), whereas the field sets and `fetchable_fields` control what data is returned for each resource (think fewer fields). So if you want to allow someone to find people with the last name of Smith you would need to allow a filter on `last_name`. Then a request could pass in a `filter` for last_name, for example `http://example.com/

[2015-02-18 18:24] miguelsan commented on #80
Ah, so you are talking about filter in the sense of the spec. It'd be easier to understand if you point this out in the README with a small URL example.

On the finders, they are useful in case of "server filtering", which is another story. Imagine some hidden attributes on a resource like `user_id`, you may want to restrict all responses to the current user. Don't remove them absolutely, because

[2015-02-18 18:33] lgebhardt commented on #80
@miguelsan, Actually you can limit the response globally with the `records` method. The options are passed to `records`, so you can use those to limit records to the current user if you include that by way of the context. You could also put some default filters on with the `records` method override.

I'll see if I can give the documentation a fresh look along with the changes needed to support the

[2015-02-18 19:01] miguelsan commented on #80
I know that `records` is employed to scope the finders (maybe `scope` would be a better naming for that method?).

But how would it look like with the filters? I am not sure that I want a filter for an attribute that I am not returning afterwards since I hide it under `fetchable_attributes`. Would it clash or produce weird behavior?

[2015-02-18 19:11] lgebhardt commented on #80
The filtering would take place separately from the fields. Active record allows you to filter on fields that are not part of the result set so things should work fine (not that we're currently limiting the result set to just the selected fields, but we should). As to wether it's desirable to do things this way I'm not sure. I guess it would depend on the situation. I can see some cases where it wo

[2015-02-18 20:26] barelyknown commented on #80
I'm very 👎 on changing the `records` method name. It's public and typically overridden - no need for a breaking change.

[2015-02-19 04:11] achan opened #81 "Support for models with namespaces"
Am I missing something or is it not possible to specify a model with a namespace for a given `Resource`?

For example, how would I create a resource for `Test::User`?

[2015-02-19 04:25] achan commented on #81
I see it now... sorry.

For anyone wondering, it would be like this:

[code]

[2015-02-19 04:25] #81 closed

[2015-02-19 09:57] miguelsan commented on #80
@barelyknown It needn't be a breaking change: make an alias, change docs, and eventually return a deprecation warning. The question is mainly if it makes sense in itself, since it is already a railish convention. I just suggest it to be evaluated and tend personally to favor it slightly, despite I wouldn't dare to advocate it myself.

[2015-02-19 16:57] barelyknown opened #82 "Alternate solution for raising `JSONAPI::Exceptions::InvalidFieldValue` in `replace_fields`?"
I'm currently using a callback before `save` to handle authorization.

[code]

I verify that authorization has been performed on each action in the `ApplicationController`:

[code]
Unfortunately, if an invalid value is submitted for an enum attribute the before save callback never happens because a `JSONAPI::Exceptions::InvalidFieldValue` is raised in `_replace_fields`. This causes `verify_policy_

[2015-02-19 20:46] kellysutton commented on #82
I've been running into this question of authorization a bit with some of my own applications as well.

However, I think authorization squarely lies in the responsibilities of the controller and not at the model/resource level. Thus, I subclass the `JSONAPI::ResourceController` and make sure it does the short-circuiting.

This duplicates the efforts a little bit when policies are model-dependent, i

[2015-02-20 14:43] dgeb commented on #67
Update: RC2 branches have been merged into both JSON API and JSONAPI::Resources. Hoping to push out 1.0 final in the next few weeks!

[2015-02-20 15:03] lgebhardt opened #84 "Support for PUTting null to to-one relationship URLs"
As per http://jsonapi.org/format/#crud-updating-to-one-relationships JR needs to support PUTting a `null` to remove a to-one relationship.

[2015-02-20 15:08] lgebhardt opened #85 "Support for PUTting [] to to-many relationship URLs"
JR should support PUTting an empty array to a to-many relationship URL to clear the associated records.

Note, this is missing from the current spec at http://jsonapi.org/format/#crud-updating-to-many-relationships, however it will be added soon.

[code]

[2015-02-20 15:16] lgebhardt opened #86 "Sopport pagination for ids in has-many link objects"
JR should support pagination of the IDs returned in a request for a has-many `link object`.

For example a request to http://test.host/posts/1/links/tags should paginate the ids of the tags.

The pagination limits should be set separately for ids, since the payload is likely to be much smaller than for resources.

[2015-02-20 15:22] lgebhardt opened #87 "Top level links"
Support creation of the top level links hash.

I think this should be done in the `setup` of the `request` object and provided to the `serializer` in the initializer. Otherwise the serializer will require full knowledge of the request in order to create the proper links.

Links should include a full query string, including `filter`, `sort`, and `page parameters.

[2015-02-20 15:26] stevenharman commented on #67
![stephen-colbert-and-kermit-excited](https://cloud.githubusercontent.com/assets/48658/6288971/f921c1b2-b8ea-11e4-9f57-a9fcc0f5668b.gif)

[2015-02-20 15:41] lgebhardt opened #88 "Remove support fetching multiple resources by id"
JSON API RC2 removed support for GETting multiple resources by a comma delimited list of ids. We should remove this from JR as well.

[2015-02-20 16:06] lgebhardt opened #89 "Support Meta"
JR should support `meta` members.  JSON API now allows `meta` in the top level, in a resource, and in a link object. Details of both custom meta information and standard JR meta information (if any) still needs to be defined.

[2015-02-20 16:27] lgebhardt commented on #82
@barelyknown, I don't fully understand your business case. However I think it sounds like an issue if the after action callbacks aren't being called in the event of an error. So I'd be interested in a change that allows them to be called and have access to the errors collection. I haven't looked into what that would take, and what else will be affected.

[2015-02-20 19:06] barelyknown commented on #82
What about adding an error to the errors collection when `ArgumentError` is raised because of an invalid enum instead of raising `JSONAPI::Exceptions::InvalidFieldValue`?

[2015-02-25 11:58] lgebhardt commented on #82
@barelyknown, I think that sounds good. It should probably be treated more like a validation error.

[2015-02-25 21:46] AMHOL opened #90 "Seializer generates incorrect links when using inside an engine"
When using JR in an engine, the resource serializer generates invalid URI's as it assumes a resourceful path and infers from the module nesting, however, an engine itself is namespaced and this namespace is included in the generated URI, i.e. for an API engine:

[code]

Generates:

[code]

[2015-02-25 22:23] AMHOL opened #91 "resource_for assumes top level resource class"
I have my resource classes nested, and I get the following error when trying to start my application if I use the `jsonapi_resources` route helper:

[code]

This is because my Ruby version is greater than 2.0, the and the conditional behaviour of `resource_for` uses `Object.const_get` which doesn't allow nesting, so the call should be:

[code]

If I comment out the 2.0 version and allow it to use

[2015-02-25 22:28] AMHOL commented on #90
I know that I used `resources` here rather than `jsonapi_resources`, but after patching `resource_for` as described in #91 the error still applies

[2015-02-27 15:42] #84 closed

[2015-02-28 21:39] deantomlinson opened #94 "HTTP/1.1 415 Unsupported Media Type"
This probably isn't an issue but I am trying to get your example apps to work by following your process and I keep getting this error when I copy the curl command to create a resource.

HTTP/1.1 415 Unsupported Media Type
X-Frame-Options: SAMEORIGIN
X-Xss-Protection: 1; mode=block
X-Content-Type-Options: nosniff
Content-Type: application/json; charset=utf-8
Cache-Control: no-cache
X-Request-Id: 9b

[2015-02-28 23:32] lgebhardt commented on #94
The problem is the code has been updated since the example apps were written. There have been a few changes that break the curl command as it's been documented. The first is JR now enforces the JSON-API media type requirement, which is the cause of the error you are getting. Once you fix that however you will run into issues because the data format has been changed (and may still be changing) in J

[2015-02-28 23:59] deantomlinson commented on #94
Thank you for taking the time to explain what is going on.  I understand that that JSON API is nearing version 1, so you are working to stay compatible with the evolving spec.  I appreciate the examples that you have and would appreciate you updating them when it makes sense to do so.  Thanks

[2015-02-28 23:59] #94 closed

[2015-03-04 05:01] achan opened #96 "Unable to override apply_filter"
I highly suspect this is a problem on my side but I just want to confirm as well as see if you have any insight on what could be wrong.

I'm trying to implement filtering for one of my resources like so:

[code]
 https://github.com/openmcac/basechurch/pull/18/files

But my resource's `#apply_filter` never seems to be called. I've put breakpoints in `Resource#find` and have verified that, at the po

[2015-03-04 05:13] sineed commented on #96
@achan it is a class method so to override you must declare *self.*apply_filter

[2015-03-04 05:35] achan commented on #96
Thanks @sineed, I sent a pull request to update the example in the README.

[2015-03-04 05:35] #96 closed

[2015-03-09 02:59] achan opened #100 "Sorting seems broken in 0.1.1"
I'm trying to hit the following url:

[code]

where `position` is just a regular attribute in my resource. This results in:

[code]

I'm fairly certain that it has to do with `Request#check_sort_criteria` trying to see if `" position"` is a sortable field (see: leading space): https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/request.rb#L193.

Or am I simply using this wrong?

[2015-03-09 12:03] barelyknown commented on #100
I have this test in an application that I'm working on that is using the master branch. The test passes.

[code]

The line that you pointed out is fine.

Do you either have a test that is failing that you can paste in, or if not, can you paste in the logs from your development server for the request that is failing? I'd want to make sure that the request is formatted correctly.

[2015-03-09 14:22] dgeb opened #101 "Rename top-level `linked` key to `included`"

[2015-03-09 14:23] dgeb opened #102 "Rename `resource` key in links object to `related`"

[2015-03-09 14:30] dgeb opened #103 "Support `PATCH` for updates"
The base JSON API spec now requires support for updates via PATCH instead of PUT for better HTTP compliance (note: this is distinct from the [JSON Patch extension](http://jsonapi.org/extensions/jsonpatch/)).

[2015-03-09 14:32] #88 closed

[2015-03-09 14:38] lgebhardt opened #104 "Key Type"
Add a default configuration option for "key type", which can be overridden at the resource level.

The "key type" will be used by the `verify_key` method to check the key format. We should by default handle Integer, GUID and String formatted keys.

[2015-03-09 15:26] #85 closed

[2015-03-09 15:30] dgeb commented on #102
Closed via #106

[2015-03-09 15:30] #102 closed

[2015-03-09 15:30] dgeb commented on #101
Closed via #106

[2015-03-09 15:30] #101 closed

[2015-03-09 21:28] achan commented on #100
I've added some specs to demonstrate `get :index` working and `get :index sort: '+position'` not working.

This is currently on 0.1.1, but I got the same thing happening with 0.2.0, even with the changes to sorting in it. I've also tried sorting on a different field, just in case it somehow had something to do with `acts_as_list`, but it still failed.

https://github.com/openmcac/basechurch/issues

[2015-03-09 21:53] achan commented on #100
Just re-read your post. This fails on 0.1.1 and 0.2.0 but **works** on master. Is master the eventual RC3 for 0.2.0?

I guess I can switch to master for now.

[2015-03-09 22:59] lgebhardt commented on #100
The requirement to sort using the + sign was added in 0.2.0 and is a requirement for JSON API 1.0. I'm surprised it fails on 0.2.0, but works on master. Could you double check that?

Master contains changes working towards JSON API 1.0, and I hope to have a new release out shortly after JSON API 1.0 is released (it's imminent) .  As far as an Ember adapter, @dgeb is updating Orbit to work with thi

[2015-03-09 23:55] achan commented on #100
My bad. It works on 0.2.0. Not sure what happened, I'm starting to think I didn't restart pow when I was testing it.

Is this something you'd issue a 0.1.2 for?

Orbit looks interesting, but I'm trying to stick with Ember Data. I guess you don't know of any good Ember Data serializers & adapters for JSONAPI..?

[2015-03-10 00:36] barelyknown opened #108 "Extracting the loading of source and related resources in controller actions"
I'd like to ensure that a user is authorized to view a related resource before it is rendered, but there's no way currently without completely reimplementing the `get_related_resource` method.

Here's the current implementation of `get_related_resource` in `JSONAPI::ResourceController`:

[code]

Ideally, we would extract two methods that could be overridden without needing to completely reimplemen

[2015-03-10 00:38] barelyknown commented on #100
Ember data will support jsonapi by default in the near future (if you can hold out for that).

[2015-03-10 01:05] lgebhardt commented on #100
I'd rather not issue a 0.1.2 for that feature as I think it's a dead end. Can you just omit the + in the sort order until a new ember data provider comes out?

[2015-03-10 01:15] achan commented on #100
Ah! I'm totally fine with just omitting the + in the sort, I didn't know it was possible.

I'll try to out for Ember Data's built-in support... Thanks guys!

You can mark this as a wontfix/close the issue if you'd like.

[2015-03-10 01:17] lgebhardt commented on #100
Excellent! Not using the + was the old way of specifying the sort order. When the other libraries are updated everything should then specify the direction for every sort.

[2015-03-10 01:17] #100 closed

[2015-03-10 01:19] lgebhardt commented on #108
@barelyknown would it be possible for you to use the `records` method on the resource to apply the permission check? That's how I'm doing things in my code and it seems to work well. We're taking the approach that if a user doesn't have permission to see a record then they get a 404, even if the record exists. That may not work for you of course. But it does keep the logic more tightly confined to

[2015-03-10 01:25] barelyknown commented on #108
I'm using the same approach, but that doesn't work for the `get_related_resource` action because the `records` method loads the source resource, not the related resource(s).

[2015-03-10 01:41] lgebhardt commented on #108
Good catch! In `Resource._associate` we could add a method similar to `records` for each association. Then the same approach could be used. I think that could work, but my mind's a bit tired now, so no promises.

[2015-03-10 12:58] barelyknown commented on #108
I was tired last night too!, but I thought about it more this morning and liked your suggestion. The PR implements that approach.

[2015-03-10 12:59] #67 closed

[2015-03-10 13:34] lgebhardt commented on #90
Sorry to take so long to look at this (vacation and then catching up to do). I'm a bit confused by the engine being named `api` and the resources also being under and `api` module. Are you saying the link should be `http://localhost:3000/api/api/v1/users/`?

[2015-03-10 14:25] #103 closed

[2015-03-10 17:56] gniquil opened #112 "Readme error for paginator config"
The paginator config says `self` which is incorrect. Should've been `config`. I will submit a pull request.

[2015-03-10 19:04] AMHOL commented on #90
Sorry I edited the namespace, the link you posted is actually what it generates, whereas the one I posted is the one I would expect

[2015-03-10 19:09] lgebhardt commented on #90
`http://localhost:3000/api/api/v1/users/` is the result I would expect, though I haven't tried the code in an engine. So to me it seems to be working correctly. My understanding of engines is limited, but I thought they were supposed to host the app as normal under the specified path. Correct me if I'm wrong.

If that's the case you could simply remove the `Api` level module and start with the ver

[2015-03-10 19:14] lgebhardt commented on #112
closed with #113

[2015-03-10 19:14] #112 closed

[2015-03-10 20:12] AMHOL commented on #90
The rails engine generator generates a namespace with the same name as the engine, and you call isolate namespace to stop anything from leaking into your application code. There will be other cases where people don't want a direct mapping from namespaced class to URI so I think it would be better if it were configurable?

[2015-03-12 12:35] dgeb opened #115 "Support update to resource linkage"
See https://github.com/json-api/json-api/pull/447

_Note for the weary: this is probably the last breaking change for JSON API as we prepare for 1.0._

[2015-03-12 15:42] sineed commented on #87
@lgebhardt I decided to start implementing this and I found this branch https://github.com/cerebris/jsonapi-resources/tree/toplevel_links. So I have a question: do you continue to implement top-level links or I can help with something?

[2015-03-12 15:56] lgebhardt commented on #87
I think that branch is likely to be very out of date, and it would be better to just start again. Feel free to look at the branch, but if I remember I didn't get very far on it, and the spec has completely changed regarding top level links.

[2015-03-13 23:56] john-griffin opened #117 "serialize_to_hash: undefined method `_type'"
I've been trying to integrate with a fairly basic project but whenever I serialize an object I get the error

[code]

Serializing by doing:

[code]

Tried on `0.2.0` and `master`. Does anything leap out?

[2015-03-14 00:27] lgebhardt commented on #117
You need to make sure you pass a Resource to the serializer. This should work:

[code]

[2015-03-14 00:30] john-griffin commented on #117
@lgebhardt thanks for clarifying, that works

[2015-03-14 00:30] #117 closed

[2015-03-16 18:54] realityendshere opened #118 "Filtering with .where method: no matches without ActiveRecord"
I am really excited about the progress of JSON API spec and the JSON API Resources Gem.

In my experiments with the gem, I found the following to be incompatible with Mongoid, the ActiveRecord replacement for integrating with MongoDB.

[code]

The `value` passed to this method is always an array. In ActiveRecord, passing an array value to the `where` method builds an `IN` SQL query. The challenge

[2015-03-16 22:07] steveklabnik opened #119 "JSON API RC3 tracking"
Hey there! I just wanted to let you know that JSON API has hit RC3, and we'd like client libraries to start implementing it like it was 1.0, as a final check that we're good for 1.0. I wanted to make this issue to let you know!

https://github.com/json-api/json-api/issues/484

[2015-03-17 00:55] realityendshere opened #120 "Request.parse_sort_criteria may not handle literal + in sort params"
I opened an equivalent issue on the JSON API spec project: https://github.com/json-api/json-api/issues/486

If I am not mistaken, many web servers see the plus symbol ("+") as a substitute for a white space or "%20" when sent as a query param in the URL. For example, this request

[code]

shows up as `" age, name"` to the Request.parse_sort_criteria method. Which is a total bummer for the `if` sta

[2015-03-17 19:16] lgebhardt commented on #119
@steveklabnik Thanks. I've been following things, though I know I've missed a few discussions. I've started implementing the changes and so far things are working well.

[2015-03-17 19:32] steveklabnik commented on #119
:+1:

[2015-03-17 23:34] realityendshere opened #123 "Support for scoped queries"
I am curious if there's a plan to incorporate support for ActiveRecord scopes (or ActiveRecord-like scopes) as described in http://guides.rubyonrails.org/active_record_querying.html#scopes into JR.

I can write my own scope filters by overriding the `find` and `apply_filter` methods on a resource. If there are thoughts about supporting scopes in JR, I would be happy to contribute code back to the

[2015-03-18 01:03] lgebhardt commented on #123
@realityendshere You can override the `self.records` and `records_for` functions to apply a scope to the ActiveRecord relation that is the basis for the `find` method. https://github.com/cerebris/jsonapi-resources#customizing-base-records-for-finder-methods

I'm not sure if that is what you are looking to do or not. If not, could you provide a pseudo code example of what you have in mind.

[2015-03-18 01:43] realityendshere commented on #123
Thanks for the response @lgebhardt

I think scopes can be useful from an authorization perspective. For example, if I override `self.records` I can put authorization logic in to prevent a user from accessing records outside of a given scope.

Alternatively, I can use scopes as shorthand for a complex combination of filters. For example, I have a scope that looks for `active_users` that applies a p

[2015-03-18 01:47] #108 closed

[2015-03-18 17:47] nickyleach opened #124 "Pagination does not have access to the full params hash"
Paginator instances are being created only with the value of `params[:page]`, not the full `params` hash. This breaks the `OffsetPaginator` and limits the utility of custom paginators.

[2015-03-18 18:34] lgebhardt commented on #124
JSON API is changing to a group all of the pagination parameters under the `page` parameter:https://github.com/json-api/json-api/blob/gh-pages/format/index.md#pagination-

The paginators should get all of the params under the `page` param. So specify the offset parameters as `page[offset]` and `page[limit]`.

[2015-03-18 19:14] lgebhardt commented on #123
@realityendshere I use the `records` method like you say to apply security with a scope. Any time you want to apply the same scope to every request it makes sense to use the `records` method.

I'm not sure on applying scopes automatically based on the filters. It seems useful, and could be a nice simplification.  However I'm a bit worried about conflicts if we were to make that the default behavio

[2015-03-18 19:38] nickyleach commented on #124
Thanks. Just read through the docs again and I totally missed that on the first pass :+1:

[2015-03-18 19:38] #124 closed

[2015-03-18 21:48] realityendshere commented on #123
@lgebhardt I would be a bit confused to discover a filter and a scope with the same name that return different results. But that's just me. Otherwise, you have a fair point.

A prefix seems reasonable. I guess I would have a mild concern about `_`. I can imagine URLs with `filter_birthdate_filtered` or something redundant or unclear like that. Perhaps something like:

[code]

or

[code]

I like th

[2015-03-18 22:15] realityendshere opened #125 "Feature Request: built in support for non where/in filtering"
Out of the box, JR takes this:

[code]

and turns it into the equivalent of this:

[code]

Although JSON API spec is agnostic about filter implementation, I propose introducing some naming patterns for "starts with", "ends with", "contains", and "not in" type attribute filters.

Examples
========

Get all users with a `first_name` that starts with "ye":

[code]

Get all users with a `first_name` t

[2015-03-18 22:21] lgebhardt commented on #123
@realityendshere, I was thinking the preface would be used in the scope name, not in the filter name. For example:

[code]

would look for a scope named `filter_active_users`. I'm not set on the `filter_` preface, just trying for an example. I think the public API should hide the fact that it's using scopes, since those are a Rails concept.

[2015-03-18 22:36] realityendshere opened #126 "Pagination: total record/page count in meta"
My Ember apps use sparse arrays to load visible data on demand. The sparse array needs some means for determining the total number of objects available to show. This allows my colleagues and I to fake the array length property with record counts provided by the server and, for example, draw an appropriately tall scrolling `<div>` to mimic the appearance of a single, continuous listing.

JSON API s

[2015-03-18 22:53] realityendshere commented on #123
If

[code]

connects a scope named `filter_active_users`, I will have to rename/alias all my scopes!

Perhaps, I am underestimating the number of filter names that match scope names in production apps; it seems as if requiring special scope names would be a more painful adjustment for apps with many existing scopes. Some of our scopes are used both within the Ruby code AND as API filters. The `act

[2015-03-19 00:12] xdmx commented on #126
:+1: on this. It would also be useful to have it optional, with the ability to enable it globally or on only specific resources.

This would be useful in some scenarios, like showing the total posts a user has created, and at the same time being able to disable it (avoiding the .count query) for showing for example the number of notification a user has received

[2015-03-19 00:34] realityendshere commented on #126
@xdmx Agreed! In the extreme case, a Twitter-like app, the total count of tweets in your feed could easily be massively large and essentially useless.

In contrast, a listing of followers may be a large but manageable number that requires a pagination strategy that includes a count of matching records.

[2015-03-19 01:27] lgebhardt commented on #123
I see. Given you have an existing app with a lot of scopes do you seen any filter names you wish to use that would conflict with the existing set of scope names? Maybe my worry about name conflicts is overblown.

How about requiring a setting before a scope is used. That could be set global and/or at the resource level. For example:

[code]

There's probably a better name than `filter_with_scopes`

[2015-03-19 17:37] realityendshere commented on #123
@lgebhardt In the project I am trying to migrate to JR, filtering operations are performed in the controller.

First, I look for a method on the controller with a given prefix (in my case, the prefix is `query_`). I typically use this strategy for filters that require a combination of multiple query params to work. The best example I have in my API is a `near` filter that finds locations (airports

[2015-03-20 19:29] realityendshere opened #127 "Save error handling relies on ActiveRecord::RecordInvalid"
I know I am the crazy developer who doesn't use ActiveRecord.

The `JSONAPI::Resource._save` method looks for ActiveRecord exceptions as seen in the code block below. Unfortunately, this throws even worse exceptions about not finding ActiveRecord.

[code]

[2015-03-20 20:35] lgebhardt commented on #127
@realityendshere I can't say I'm surprised. I haven't done any more testing than what's in the tests regarding use without ActiveRecord. It would be great if we had a sample app that we could test against that didn't use AR. I don't know if that's something you want to tackle.

[2015-03-20 21:32] fotinakis commented on #90
I've just hit this also but I'm not using a Rails Engine—I just namespace my resource classes inside modules, like this:
[code]
But that produces self links that are "incorrect" for me:
[code]
When what I want is `/users/417`. I've tried to build a [custom route formatter](https://github.com/cerebris/jsonapi-resources/blob/a263bdde288086d5965a146cbe082b16b1d4ae60/lib/jsonapi/formatter.rb#L105) whi

[2015-03-20 22:19] fotinakis commented on #90
I decided to just use a `V1::` module namespace so that the defaults work correctly for me, but I agree this is a bigger issue for people using Rails Engines to isolate their API code (or anyone whose module structure doesn't map directly to their URLs).

:+1: to making this a bit clearer/easier for that case—if a custom RouteFormatter is the right way to solve it, maybe just some documentation on

[2015-03-20 22:36] realityendshere commented on #127
@lgebhardt

Like Peeps without AR?

I could take a look.

I'm may be mostly away from tech for the next few days. (Opening the issue was partly a reminder to myself to look into this more.)

Thanks.

[2015-03-21 02:23] lgebhardt commented on #127
@realityendshere Peeps without AR is what I had in mind.

[2015-03-22 14:02] elucid opened #129 "Application structure question"
This is a very interesting project and executes well something that many other projects have attempted in the past.

I have seen the sample contacts application, read the documentation, and I am currently reading through the gem source but there are still some things which are unclear to me. The most significant of which is where non-CRUD behaviour should be included.

For example, if I were build

[2015-03-23 07:06] pixelhandler commented on #118
@realityendshere I also tried a document store db, the ORM is NoBrainer http://nobrainer.io/docs/introduction/

RethinkDB which is based on ActiveModel not ActiveRecord - I had an error at https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/resource.rb#L337

Class#includes is expected (ActiveRecord defines the includes method), but NoBrainer::Document does not (I believe it exten

[2015-03-25 14:46] wvteijlingen opened #130 "IDs must be serialized as strings instead of numeric values"
According to the spec: "Each resource object MUST contain an id member, whose value MUST be a string."

[2015-03-25 14:53] wvteijlingen commented on #130
Sorry, turned out this was a problem in my own code!

[2015-03-25 14:53] #130 closed

[2015-03-26 17:20] kellysutton commented on #129
@elucid

In the past, I've found anything that departs from CRUD should be looked at a little bit more carefully, especially in the case of purchasing. By creating a few extra resources, you can maintain a consistent pattern within your application.

In the context of your example, consider creating a `FullfilmentRequest` resource that the client must create to run a charge via Stripe. Alternative

[2015-03-26 17:38] elucid commented on #129
@kellysutton thanks for the response. However, I'm not sure I quite get it yet.

To clarify, are you suggesting creating a resource responsible for triggering the charge which maps to multiple persistence model/database tables, and triggers the Stripe request as part of this coordination? In this case would I be managing this coordination via the callback API that `JSONAPI::Resource` exposes?

For

[2015-03-26 17:43] kellysutton commented on #129
Perhaps the `FulfillmentRequest` was a bit of a bad suggestion.

Take a look at how Stripe exposes their different resources. In applications, I've found it can be helpful to map or wrap their resources onto your own data model. That is, allow clients to interact in a similar way with the Stripe API. In this case, a client would create a `Charge` resource. (Your application would need to run the c

[2015-03-26 17:58] elucid commented on #129
Modelling this as a `FulfilmentRequest` or a `Charge` doesn't much matter. What I'm missing is where the coordination or glue code goes. When you say "extract that logic out into an explicit resource", where in the resource does it belong if not in the resources callbacks?

I feel like I am not doing a very good job of articulating my question. The difficulty I'm having is that the default JR setu

[2015-03-26 18:31] lgebhardt commented on #129
I haven't tried to use JR to solve this problem, so I'm not sure on the best way to proceed. This might be too simplistic, but off the top of my head the idea of creating a `Charge` resource seems right to me. I think putting the Stripe call in the `around_create` callback would let you make the attempted charge, and record the result in the new `Charge` entry. You could update the status on the o

[2015-03-26 18:39] kellysutton commented on #129
There's no generalized answer for this, unfortunately.

Given my past experience, it's usually best to shoehorn complex actions into CRUD actions on 1-to-N resources.

Sorry about the `before_save` comment previously, for some reason I thought you were talking about a `before_filter`. `before_save` should be fine on a `Charge` object, but not ideal. If possible, always avoid ActiveRecord callbacks

[2015-03-26 19:21] fotinakis commented on #129
(Whew...long post ahead, sorry! But I'm really interested in this :) )

I have recently started transitioning my APIs over to JR and, while most of the process has been great and JR is very well constructed, I'm also hitting exactly the same questions that @elucid mentions here.

I follow the same patterns you do—I separate my business logic into service objects and call service methods to create

[2015-03-26 20:04] kellysutton commented on #129
Yes, subclasses should have access to `createable_fields` and so forth. I recommend giving a read through the source for more info.

Check the source, make sure you have specs to cover parts of the code where you're overriding methods. If JR changes down the line, hopefully the overridden method will blow up in a big way.

In how I've implemented JR in the past, I recommend leaning on it and only

[2015-03-27 00:32] lgebhardt commented on #129
Issue #127 also brings up the need to decouple the `Resource` class from ActiveModel. This is something I hope to get to very soon.

@fotinakis Could you override the `_save` method on the resource? That would let you avoid `ActiveModel`? I think you could also use the `around_create` callback and skip calling the block. Have a look at https://github.com/cerebris/jsonapi-resources#callbacks

I wou

[2015-03-27 00:48] dgeb commented on #129
There are a couple interesting approaches evolving in JSON API itself for handling multiple operations in a single request:

* The [JSON Patch extension](http://jsonapi.org/extensions/jsonpatch/) allows for a single endpoint to handle multiple operations, even on separate resources. Although this is not yet supported in jsonapi-resources, it was a driving force behind the design of `Operations`.

[2015-03-27 04:39] timabdulla opened #133 "Deserialization"
Before I go to the trouble to craft a PR, would there be any interest from the maintainers in supporting custom operation types so that it would be possible to override the normally selected operation for a specific controller action on a controller-by-controller basis? This would allow us to support more complex deserialization requirements than is currently possible with the default set of opera

[2015-03-27 04:44] timabdulla commented on #133
Or maybe the better approach to more complex deserialization would be hooking into the replace_fields callback?

[2015-03-27 07:26] sirvine opened #134 "Trouble parsing has_one relationships"
I'm getting error code 115 on all POST requests that have has_one relationships.  I've traced the issue to the following code from [here](https://github.com/cerebris/jsonapi-resources/blob/4b837118cb1e10612d21f709bb0d2be9c451a531/lib/jsonapi/request.rb#L239):

       if !raw.is_a?(Hash) || raw.length != 2 || !(raw.has_key?('type') && raw.has_key?('id'))
          raise JSONAPI::Exceptions::Invalid

[2015-03-27 11:42] barelyknown commented on #133
I believe that you can do what you'd like now (unless I'm not understanding). You can override a method for an individual controller to use whatever operation you'd like, and/or you could override the `create_operations_processor` method in the `ResourceController`. If you're thinking of something else, can you give a bit more detail?

[2015-03-27 12:56] lgebhardt commented on #133
I'm concerned when you say on a "controller-by-controller basis". If we are going to go with custom operations (and I've assumed we would eventually add them) I think those should be controlled by the `Resource`. We can create default methods on the `Resource` to get each operation and modify the `Request` class to use those methods instead of assuming the operation type to create. That will allow

[2015-03-27 16:10] timabdulla commented on #133
Now that I've thought it about more, this behaviour should not exist at the controller level, and adding custom operations is probably overkill for my specific use case as well, though I can see the argument for  their usefulness.

Essentially my aim is to allow for more sophisticated deserialization for create and update requests. Right now, it is assumed that there is a perfect correspondence be

[2015-03-27 16:31] timabdulla commented on #133
My colleague @mmartinson has also suggested instead allowing for optional writer decorators, so that all attribute-setting done in update or create operations could be proxied to a decorator object which can then transparently handle any deserialization that might need to occur.

[2015-03-27 16:32] barelyknown commented on #133
For your example, what about having a `full_name=` setter on the model?

[2015-03-27 16:34] timabdulla commented on #133
That's fine in the very simple case I used as a motivating example, but for more complex deserialization, I wouldn't want to overburden the models with deserialization logic that doesn't belong in the domain layer.

[2015-03-28 02:49] fotinakis commented on #129
Excited to see that, multiple operations in a single request would be great and would take care of some of the atomicity concerns when creating multiple objects.

Unfortunately though, I don't think that addresses the conversation above—it's not just that other related objects might be created, it's that there are often complex needs as part of object creation, for example accepting a Base64-encod

[2015-03-28 03:18] fotinakis commented on #133
Related: https://github.com/cerebris/jsonapi-resources/issues/129#issuecomment-87150515

[2015-03-28 11:13] lgebhardt commented on #133
Instead of putting the `full_name=` method on the model, I'd say to put it on the `Resource`. I think that's the right level for that type of transform. You could also put a setter on the resource that really sets the two fields on the model. That way the resource acts as a translation layer between the API and the model.

[2015-03-28 11:38] lgebhardt commented on #129
@fotinakis As you have observed JR was designed to handle taking an API request fully back and forth between the database (1:1:1 mapping between "client side resource requests : server side resources : database tables/AR models"). To date that has been entirely through ActiveRecord, though that hasn't been intended as the only path.

At some layers the line for where to break the stack apart and i

[2015-03-30 17:52] mmartinson commented on #129
@fotinakis. Your comment captures the same kind of things I'm trying to work through in trying to integrate this into an existing project using involving some fairly complex post logic. @lgebhardt you suggested in the #133 thread to overwrite setters in the resource class. This seems fine for a couple of overwrites but I'm trying to find the best way to integrate several large builder classes of c

[2015-03-30 18:21] mmartinson opened #141 "NilClass error when using self.updateable fields"
To make sure that I'm using self.createable fields and self.updateable fields in the right way, is the intention that you can use these to add as well as limited attributes that can be written? Could you, for example not an attribute in the attributes macro-style method but instead include it in the above mentioned and still allow it to be written.

When calling a create using this code:

[code]

[2015-03-30 19:14] fotinakis commented on #134
Just hit this too.

[2015-03-31 15:13] lgebhardt commented on #141
As the code is written you can't add additional fields into the `self.createable_fields` and `self.updateble_fields` fields functions, only remove them. The problem is `@_attributes[attr]` returns nil for the added fields, which breaks things as you can see.

What is the use case for adding a field that isn't an attribute on the resource?

[2015-03-31 15:21] lgebhardt commented on #129
Can you replace the model class with your builder (as far as JR is concerned) and leave the `resource` structured as normal? Your builder could then act as a proxy to the actual model. That way JR could update the builder/proxy, and the builder/proxy could correctly update the model and do what ever else needs to be done.

[2015-04-01 18:16] fotinakis opened #143 "Better handling of routes that don't conform to JSON API"
I had a resource like this:

[code]

Underneath this, I wanted an explicitly non-RESTful/non-JSON-API endpoint called "finalize", so I did this:

[code]

However, I didn't find out until days later that simply passing a block to jsonapi_resources silently removes ALL nested routes for related resources (ie. /builds/123/subresources). It would be nice if this block was merged in instead of replacin

[2015-04-01 19:53] lgebhardt commented on #143
@fotinakis, Sorry for the confusion. It's sort of documented in https://github.com/cerebris/jsonapi-resources#jsonapi_links: "An empty block will not create any relationship routes." I agree this should be called out more visibly. The intent was to allow you full control over the routes by using a block and only adding the ones you need. I didn't foresee the use of the block for non-RESTful routes

[2015-04-01 19:56] lgebhardt commented on #143
Would it make sense to add a method to put in all the default relationship routes? Then you could still get the default behavior (though it would require a single method in the block) along with the non-RESTful routes. Of course you could also keep it the way it is currently and add back only the relationship routes you need.

[2015-04-01 21:14] fotinakis commented on #143
Oh I see where I got confused, I thought "jsonapi_links" was only about the "/links" part of the URL, but it also means the nested/related resource. Gotcha.

The add-all method could be useful, but now that I understand this I'll just add blocks everywhere and specifically list the relationships I care about exposing, plus my non-RESTful routes. Thanks!

[2015-04-01 21:42] fotinakis commented on #143
Actually was just testing it, looks like my assumption was right — adding a plain `jsonapi_links :comments` under a `jsonapi_resources :posts` will only create the `/posts/:post_id/links/comments/...` routes and _not_ the actual `/posts/:post_id/comments` route.

Is there a supported way to do that when providing a block arg?

[2015-04-01 21:56] fotinakis commented on #143
Looks like this works?

[code]
Notice the empty code block, to avoid creating all the implicit routes while nested. :/

[2015-04-02 01:11] mmartinson commented on #141
As I was describing in the other issue threads that I referenced above, I have been trying to find the best way to accept a complicated set of post params that don't map onto a single model and then return the saved data in the side-loaded forward under 'includes'. I realize it sounds contrived, but we have decided to diverge from the spec by accepting a nested post/put until the JSONAPI spec auth

[2015-04-02 01:30] mmartinson commented on #129
@lgebhardt  What would that look like like for serialization? Would you expect that the model proxy would be responsible for both parsing and fetching data? What fits my use case really well is using different classes for parsing and serialization, since they use employ method names that match the param fields but have very different behaviour for in vs out.

I wrote a base resource class that let

[2015-04-02 01:34] lgebhardt commented on #141
I'm having a bit of trouble wrapping my head around this. What I can say is the resource does not need to be a one-to-one mapping to a model. It seems that should allow you to create the a structure that at least returns the data properly side loaded, though without seeing the code I can't be sure.

[2015-04-02 01:43] lgebhardt commented on #129
I guess I'm seeing one resource with a field set where some are creatable and updateable and some are fetchable. There doesn't need to be overlap between the two sets. You might need methods (setters or getters) on the resource to override the default behavior of accessing a field from the model. I think that would let you set one set of fields and the results be serialized out with a different se

[2015-04-02 01:48] mmartinson commented on #141
Ya thanks for the quick reply. I've got workable hack figured out so if this seems confounding feel free to consider it closed. I'll attempt to give it one more go though in case you're the curious type and this is bothering you.

- I want to accept a parameter key that has the same name as a has_many association defined on the builder, so I can manually create the record it as a nested resource.

[2015-04-02 02:10] mmartinson commented on #129
That makes sense to me and I think is probably a clean answer for most use cases. I find that there can be value in separating getting and setting logic into different classes, if only because it's less noisy when you're trying to follow a particular request and because for a large model the one resource class gets very full and it's easy to split in half along that separation of concerns.
Thanks

[2015-04-02 03:22] fotinakis commented on #143
:x: Found the failure mode of that ^ —for the nested resources it doesn't actually treat them as related to the top-level, so requesting the related resources returns ALL of them, without regard to their parent.

Replacing `jsonapi_resources` with the (undocumented) `jsonapi_related_resources` works.

[2015-04-02 12:14] lgebhardt commented on #143
Glad you found `jsonapi_related_resources`, and thanks for pointing out the missing documentation. I'll update the README soon.

[2015-04-06 21:09] #141 closed

[2015-04-07 01:12] jamonholmgren opened #149 "Routing Error - No route matches [GET] "/api/v2/blacklist_emails""
I'm getting a Routing Error when using the `jsonapi_resources` route helper.

[code]

Enabling the specific `get` request works fine. What could I be doing wrong?

![screen shot 2015-04-06 at 6 11 18 pm](https://cloud.githubusercontent.com/assets/1479215/7015425/7d2af97c-dc88-11e4-800f-7f404e81525e.png)

[2015-04-07 01:15] jamonholmgren commented on #149
Doh...I ran `rake routes` like Rails said to and realized the URL is dasherized. Never mind!

[2015-04-07 01:15] #149 closed

[2015-04-07 01:56] lgebhardt commented on #149
The default is dasherized, but you can change that in the configuration section.

[code]

See https://github.com/cerebris/jsonapi-resources#key-format for more details on the configure method. It looks like the documentation for this didn't make it into the readme. Sorry for that.

[2015-04-07 23:34] jamonholmgren opened #151 "Request spec (RSpec-Rails) returns "The required parameter, data, is missing.""
I'm trying to test my API with an RSpec-Rails request spec. Here's the spec:

[code]

I'm getting this error:

[code]

It appears the params is not passing through when we're posting. Any ideas?

[2015-04-07 23:57] jamonholmgren commented on #151
Could be related to the fact I'm on Rails 3.2. See issue #152.

[2015-04-08 00:50] adamworrall commented on #151
To be a valid JSON-API request you need to at least have the "type" attribute set in the data object, so I believe your request should give an error of some kind.

There is something funny going on with blank data requests though - it seems like attributes whose values are empty are getting discarded altogether - I have a POST endpoint I'd like to work without requiring any parameters at all but I

[2015-04-08 01:33] lgebhardt commented on #151
The request is certainly invalid, but the error message doesn't look like what we should be returning in that case. However it's returned that way under Rails 4 as well. I'll look into what's going on soon.

[2015-04-08 01:42] lgebhardt commented on #151
Looks like it's coming from https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/request.rb#L49, which is using strong parameters. It's failing because there is no content.

Having thought about it for a few more minutes I'm not actually sure the empty request is actually invalid. I'll see if I can fix it so an empty data is acceptable and then it's up to your model validation as

[2015-04-08 05:46] jamonholmgren commented on #151
Thanks for the help, @adamworrall and @lgebhardt. I updated the spec with the "type" and am getting a new error:

[code]

Error:

[code]

Any ideas?

[2015-04-08 12:24] adamworrall commented on #151
@jamonholmgren try encoding your body hash as JSON? If that works, you should run into the problem I mentioned earlier. #153 should fix that.

[2015-04-08 20:15] jamonholmgren commented on #151
Okay, we're getting somewhere @adamworrall !

[code]

Now I get:

[code]

I for sure have a Campaign resource.

[code]

[2015-04-08 20:51] jamonholmgren commented on #151
Ah, it was supposed to be `"type" => "campaigns"` (plural). Working now!

I submitted a PR for preliminary Rails 3.2 support ( #156 ), so I think we can consider this closed.

[2015-04-08 20:51] lgebhardt commented on #151
Types are always plural in JSON API. You have it as singular "campaign".

Also, you don't need the :id in attribute, which is a new fix. :id is now always included. But it doesn't hurt to have it.

I'm not sure if you caught it, but I released a new version that includes #153

[2015-04-08 20:51] #151 closed

[2015-04-08 20:52] lgebhardt commented on #151
What timing. Glad you figured it out. I'll look into the PR. Thanks.

[2015-04-08 21:01] jamonholmgren commented on #151
:+1:

[2015-04-11 00:30] yawboakye opened #157 "JR renders 105 (Param not allowed) for new columns added via migration"
After adding a new column to a model and successfully running the db migration, JR refuses to acknowledge it and accept it as a JSON parameter. Instead it renders the `105 Param not allowed` error. Or am I doing something wrong?

[2015-04-11 01:32] lgebhardt commented on #157
Did you add the new attribute to the Resource as well?

[2015-04-11 05:07] jamonholmgren commented on #149
No worries, I should have guessed it would be dasherized. :-)

[2015-04-11 08:15] yawboakye commented on #157
Yes

[2015-04-11 17:27] yawboakye commented on #157
@lgebhardt I found out which line is failing: https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/request.rb#L350. The `include?` test should be made with the formatted key since that's what in `formatted_allowed_fields`.
Also a correction of the original issue: Actually it doesn't fail for newly added columns; it fails for column names separated by underscores.

Here's one way t

[2015-04-11 17:27] #157 closed

[2015-04-13 18:24] nonsensery commented on #126
:+1: from me too. I don't see a place in the JSON API spec for a total count (right?), but at least supporting the pagination entries in the top-level `"links"` would be nice.

[2015-04-14 01:10] realityendshere commented on #127
Hello! Got busy converting some apps to Ember v1.11...

Here's a first pass at Peeps without AR:

https://github.com/realityendshere/peeps/tree/mongoid

It uses MongoDB and the Mongoid/Moped gems. If it "just works," I'd be pleasantly surprised. Please let me know if I can be of further assistance.

I hope this helps.

Thanks!

[2015-04-14 13:29] thibaudgg commented on #74
:+1:

[2015-04-14 13:39] kellysutton commented on #74
(Sorry about the delay here. I've been busy. If anyone else wants to take a crack at this, feel free.)

[2015-04-15 11:45] JakubRohleder opened #161 "Single Table Inheritance and records_for problem"
Hi! I'm just migrating from jbuilder to this gem and I've encountered a problem, which I cannot solve.

I want to add two associations to the same resource, which use different scope depending on STI. More precisely:

My db structure is as follows:

there are Events with multiple Activities
each User can attend Event by EventInvitation
User can only see Activities to which EventInvitation is linke

[2015-04-15 14:21] lgebhardt commented on #161
Just looking quickly, things look correct.

Do you have a V1::UserResource defined in the project?

If you put a breakpoint on resource_serializer.rb:144, what type of object is `source`?

[2015-04-15 15:15] JakubRohleder commented on #161
I'm so ashame, the reason was a typo: `records_for_attendeess` instead of `records_for_attendees`, it took me few hours to spot it.

Nevertheless thank you for such a quick answer and building this awesome gem!

[2015-04-15 15:15] #161 closed

[2015-04-15 15:17] lgebhardt commented on #161
@JakubRohleder, sorry I should have mentioned that. I saw it at first and assumed you didn't want to deal with the infection code. Glad you found it.

[2015-04-15 16:35] gavinballard opened #162 "Error in Value Formatter documentation / implementation?"
Hi there!

The documentation for the value formatters says:

Maybe I'm just reading this incorrectly, but the `context` parameter that's actually being passed by `ResourceSerializer` seems to be the resource instance being serialized.

It could just be that I'm getting confused by the `context` label, but I was expecting to have access to the `context` I was setting inside my controller here.

[2015-04-15 17:27] lgebhardt commented on #162
Thanks for pointing this out. The code is indeed inconsistent. I originally was providing both `source` and `context` to the value formatters. @dgeb and I decided that we were going to make the formatters more focused. It looks like I completely fumbled that code(https://github.com/cerebris/jsonapi-resources/commit/1c53c3f9346365073813fc11e2aeac5383d0be18?diff=split), and I don't remember whether

[2015-04-15 17:56] gavinballard commented on #162
Thanks for the super-quick response, @lgebhardt! Today has been my first day working with the library, so take everything I say with a grain of salt :).

For context, my use case is actually pretty close to that in the docs - I want to format a Datetime in the timezone of the requesting user's locale. From the sound of it, you'd recommend customising the getter on the resource to perform the timez

[2015-04-15 18:10] lgebhardt commented on #162
Formatting dates to a user's preference is the use case I first envisioned. It was the original reason I added the context to the ValueFormatters.  However I'm now not even sure this is an appropriate action for an API. My current line of thinking is it would be better for the server to speak in UTC and the API client to do the formatting. But what I think is appropriate and what we want the libra

[2015-04-15 19:38] gavinballard commented on #162
What you say makes a lot of sense :).

Thanks for the help here and with the project in general - it's been super easy to get up and running!

[2015-04-15 19:43] lgebhardt commented on #162
Glad to hear it's been easy to get started with.

[2015-04-20 08:05] michelegera commented on #126
:+1: on this as well.

The JSON API spec details this use case in the [extension specification](http://jsonapi.org/extensions/) – take a look at the example in the “Profiles” section.

It belongs indeed to the `meta` member as @realityendshere was guessing.

[2015-04-20 09:26] thibaudgg opened #166 "API Documentation generation"
Hey there,

We need to generate a documentation for our new API written with jsonapi-resources (oh yeah!), authenticated with doorkeeper (OAuth2) and versioned with versionist (HTTP Header).

I have reviewed some tools ([api-blueprint](https://github.com/apiaryio/api-blueprint), [apipie](https://github.com/Apipie/apipie-rails), [swagger](http://swagger.io), [slate](https://github.com/tripit/slate)

[2015-04-20 12:25] lgebhardt commented on #166
@thibaudgg Thanks for getting this discussion started. I've had the idea of generating the documentation from the resource definitions and routes, but I haven't taken the next step of looking at tools to help do it.  I'll try to review the tools soon. I'd like to get a list of requirements, which should help narrow the choices down.

[2015-04-21 09:48] thibaudgg commented on #166
@lgebhardt awesome, I think I see two categories here:

### 1. Separated documentation

Most of them are like that (api-blueprint, swagger and slate).
JR could offer a one-time generator/scaffolder for bootstrapping the documentation file from the resources/routes content. The downside is that if you update your API you'll need to update your documentation manually afterward.

### 2.  Method annot

[2015-04-21 12:23] dgeb commented on #162
I think we're just confusing the interface of value formatters by allowing either `source` or `context` as arguments. It muddies the responsibilities of formatters vs. resources.

I'd like to remove both arguments from value formatters in favor of custom getters on resources themselves, unless a strong case can be made to keep either. Context-specific presentation logic really doesn't belong in an

[2015-04-21 20:55] john-griffin commented on #166
Great timing, we are looking to document our jsonapi-resources API at the moment.

I have been working on a spike that walks the routes and resources and outputs swagger 2.0 json format. The nice thing about this approach is that the routes and resources document themselves and the docs never get out of sync with the implementation. I have been able to add descriptions to attributes by providing o

[2015-04-22 08:49] thibaudgg commented on #166
@john-griffin I'm interested to know the reason for Swagger over Blueprint, is there uniq feature not available elsewhere? (I still don't made a final choice). Thanks!

[2015-04-22 10:42] john-griffin commented on #166
It was mostly due to using it in the past and preferring the interface provided by Swagger UI. I'm sure Blueprint offers equivalent features and an output format could be produced in a similar manner.

[2015-04-22 11:15] thibaudgg commented on #166
@john-griffin great, thanks for the feedback!

[2015-04-22 13:08] john-griffin commented on #166
Based on this discussion I took a look at API Blueprint. They have only [recently added support](https://github.com/apiaryio/api-blueprint/issues/25#issuecomment-94598413) for attribute descriptions. As far as I can tell it does not currently support nested or dasherized attributes in those descriptions. As both are required for JSON API format I don't see a way of moving forward with that spec.

[2015-04-22 13:22] thibaudgg commented on #166
@john-griffin bummer, thanks for having a look!

[2015-04-22 19:13] bvandenbos commented on #51
Even with the workaround, you get this error when validations fail.

JSONAPI::Resource has ActiveRecord-based rescues in it:

[code]
https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/resource.rb#L118

[2015-04-22 19:17] realityendshere commented on #51
@bvandenbos This is true! See issue #127.

[2015-04-22 19:22] bvandenbos commented on #51
Ah - didn't see that issue covered it already.  Thanks!

[2015-04-22 21:08] lgebhardt opened #170 "Creating a resource does not give an error when `linkage` isn't specified."
In the Peeps sample app the old format of specifying links was used:

[code]

This does not raise an error and the phone number is created with out being associated to the contact. The correct format is:

[code]

We should raise an error when the format is not correct for an association.

[2015-04-23 10:26] wvteijlingen opened #171 "Formatting the resource `type` field as dasherized"
Currently the value of the `type` field is formatted using underscore_notation. JSON:API recommends formatting this as dasherized:

Is this implemented somewhere? I looked into value formatters but it seems that reserved fields like `type` don't use these formatters.

[2015-04-23 13:34] lgebhardt commented on #171
The type is controlled by the key_formatter. https://github.com/cerebris/jsonapi-resources#key-format By default this should be dasherized. Do you have an alternate key formatter specified?

[2015-04-23 13:39] wvteijlingen commented on #171
Nope, I don't have any custom key formatters configured. Just to be sure, I'm talking about the *value* of the `type` field. So the current response is:

[code]

While I expected:

[code]

[2015-04-23 13:44] lgebhardt commented on #171
I'd expect that too. I'll look into this. Which version are you using?

[2015-04-23 13:46] wvteijlingen commented on #171
Just updated to `0.3.1`. Thanks for looking into it!

[2015-04-23 13:54] john-griffin commented on #171
Confirmed, same issue here on `0.3.1`.

[2015-04-23 15:17] lgebhardt commented on #171
There were a couple things wrong in there. I've updated PR #168 with the fixes, and some additional tests. If you want to test against that branch I'd appreciate some confirmation that it's now right.

[2015-04-23 15:23] john-griffin commented on #171
@lgebhardt switching to that branch fixes the issue. I now get dashed types back in the response. Thanks for that! All my other tests still pass too.

[2015-04-23 15:25] lgebhardt commented on #171
@john-griffin thanks for testing. I'll see if we can get a new version (0.3.2) out today.

[2015-04-23 16:13] john-griffin commented on #171
That would be great, thanks Larry!

[2015-04-24 13:29] barelyknown commented on #171
I noticed a similar problem related to the `linkage` object. It was not being unformatted during requests. This PR (https://github.com/cerebris/jsonapi-resources/pull/173) fixes that.

[2015-04-24 15:19] lgebhardt commented on #127
Thanks for adding the Peeps without AR.

I've added a branch https://github.com/cerebris/jsonapi-resources/tree/remove_ar that moves the AR stuff into the `active_record_operations_processor`. I'm not quite happy with the `_save` method on resources. I'm not yet testing the case where it doesn't save, but it passes all the validations.

I hope once that's done it will be ready for a PR, but I'd ap

[2015-04-24 16:52] bwinterling commented on #126
:+1: for meta/ pagination!

[2015-04-24 16:53] bwinterling commented on #89
:+1:  for meta/ pagination.

[2015-04-24 17:45] pixelhandler commented on #127
@lgebhardt can I help in any way on the https://github.com/cerebris/jsonapi-resources/tree/remove_ar branch, Fridays we work on open source only so we want to use JR with out active record so would be happy to contribute.

[2015-04-24 18:21] lgebhardt commented on #127
@pixelhandler Thanks! If you could try out the branch against your code that would be great. I think I've got all the active record exceptions removed from the base classes, but maybe not. So a quick look through would be appreciated.

 As I mentioned above I'd like to rework the _save method, which I hope to get to soon. But if you want to look at that I've got no problem turning that over. It ne

[2015-04-24 20:09] lgebhardt commented on #162
Ok, I simplified the ValueFormatters by removing both `source` and `context`. I think that's the correct choice.

[2015-04-24 20:26] dgeb commented on #162
Thanks @lgebhardt :+1:

[2015-04-24 20:34] john-griffin commented on #166
We decided to go with [slate](https://github.com/tripit/slate) in the end and manually write our docs. Auto generation sounds great and gets you started really quickly but there are a lot of rough edges and it's very inflexible.

What would be useful is a generic JSON API validator or documentation starter. That wouldn't need to live in the JR project as it should work against any server that prov

[2015-04-24 22:59] pixelhandler commented on #127
@realityendshere I tried out your 'mongoid' fork/branch of the peeps app with the 'remove_ar' branch of JR that @lgebhardt mentioned. I had trouble running the gem locally. After `be rake build` and changing the Gemfile in the peeps app to the local path the rails app won't start (I was able to install the local gem build from the remove_ar branch). After that the initializer borks out as it doesn

[2015-04-24 23:07] pixelhandler commented on #127
@lgebhardt I get the same error on the master branch of the peeps app

[code]

I setup the JR gem to run locally in my Gemfile using `gem 'jsonapi-resources', '0.3.2', path: '/Users/myusername/code/jsonapi-resources/pkg'` in `~/code/jsonapi-resources` I build the game with `bundle exec rake build`

[2015-04-25 00:20] lgebhardt commented on #127
Sorry. I was cleaning up what I thought were superfluous require statements. I suspect that's what's going on. I'll look at it soon.

[2015-04-25 00:37] lgebhardt commented on #127
If I use the gem from the remove_ar branch in the Peeps/Moingoid project it starts up just fine.

Gemfile:
[code]
and then `bundle`

[2015-04-25 00:47] pixelhandler commented on #127
@lgebhardt I'll give that a try thanks!

[2015-04-25 03:42] pixelhandler commented on #127
@realityendshere I rebased your mongoid branch on the upstream master and added a commit to use the remove_ar branch of the gem I'm getting some errors adding a phone number to a contact. I used the curl test examples from the readme. See https://github.com/realityendshere/peeps/compare/mongoid...pixelhandler:mongoid

[2015-04-25 11:58] lgebhardt commented on #127
@pixelhandler That's almost certainly due to the change in JSON-API's linkage format. The Peeps version @realityendshere based the Peeps/Moingoid branch on hadn't been updated at the time. See https://github.com/cerebris/peeps/issues/2 for the new format.

[2015-04-27 07:26] thibaudgg commented on #166
@john-griffin Thanks I'll give a deeper look to slate. At first I got the feeling that having a completely on-the-side docs would be more risky as it could tend to become out of sync. But maybe it's simpler approach.

[2015-04-27 12:35] lgebhardt commented on #166
I like [Slate's](https://github.com/tripit/slate) approach of making the documentation a public git repository. Particularly the option to allow pull requests. But allowing the public to contribute to the documentation is at odds with keeping it in the codebase if the codebase is private.

I also like the idea of generating the docs from the code because it would be easy to keep the documentation

[2015-04-27 20:32] brettchalupa commented on #166
This is tangentially related to this issue, but I wanted to share it for those going down the Slate path.

The library that Slate uses does not highlight JSON API http code blocks as JSON, so I proposed adding support for it here: https://github.com/jneen/rouge/pull/259 If it lands, be sure to update the Slate repo in use to use the latest version of rogue (the one in master on the repo is a few v

[2015-04-27 20:50] dennisfaust opened #177 "filter values not working for Mongoid."
We are trying to retrieve documents from Mongo using the filters business_id and person_id. With the filter values like this:

http://localhost:3000/api/v1/emails?filter[business_id]=123

Those are then each being converted to an array by CVS.parse_line in `Resource#verify_keys` like so:

[code]

ActiveRecord will convert `where(business_id: ['123'])` to an `in` clause which is effectively an OR o

[2015-04-27 21:14] bvandenbos commented on #177
Dup of https://github.com/cerebris/jsonapi-resources/issues/118

[2015-04-28 07:08] thibaudgg commented on #166
@brettchalupa thanks a lot for sharing that, really helpful!

[2015-04-28 12:55] slaskis opened #178 "Inbetween nested join resource is being lost in `?include`"
I just bumped in to this little gem. It's a bit tricky to explain so I'll just start with a few examples:

- `/list?include=x` - :+1: Includes `x`
- `/list?include=x.y` - :+1: Includes `y` (through `x`)
- `/list?include=x,x.y` - :+1: Includes `x` and `y` (through `x`)
- `/list?include=x,x.y.z` - :+1: Includes `x` and `z` (through `y`, through `x`)
- `/list?include=x,x.y,x.y.z` - :-1: Includes `x`

[2015-04-28 12:58] lgebhardt commented on #178
All the case you listed should be :+1: . I'll take a look at why `y` isn't being included.

[2015-04-28 16:15] dennisfaust commented on #177
Here's a hack we're using if you run into this:
[code]
Obviously, this doesn't work if the filter does contain an array of elements.

[2015-04-29 00:05] jamonholmgren commented on #126
:+1: Another vote for this!

[2015-04-29 15:38] soeffing opened #179 "Updating associations does not work when primary key is set to permalink key"
Hi,

we use JR with our ember app. In order to have pretty URLs we specified the `permalink` attribute of our `Ad` model to be the primary link. This causes problems when I want to update the association of an `Ad` model to another model.

Example:

When I do a request to update the `Ad` association of our `Award` model and I inspect the `field_data` variable inside the `_replace_fields` [method](

[2015-04-29 16:53] lgebhardt commented on #179
I think [this](https://github.com/cerebris/jsonapi-resources#primary-key) will help.

[2015-04-29 19:31] #171 closed

[2015-04-29 19:48] soeffing commented on #179
No, unfortunately it does not. We had exactly this setup (`primary_key` and `self.verify_key` method) but experience this error nevertheless.

[2015-04-30 01:09] lgebhardt commented on #179
I'm not sure I'm following the description of the problem. I'm guessing you need a translation between the permalink and the ad_id, but I'm not sure if I'm reading things correctly. Could you show some simplified resources so I can see if I can duplicate the issue?

[2015-04-30 07:40] thibaudgg opened #183 "Bulk extension support"
Hey,

Is the [bulk extension](http://jsonapi.org/extensions/bulk) already supported in some way?
If not, what would be the best way to add it?

[2015-04-30 12:18] lgebhardt commented on #183
Currently the project doesn't support any extensions. So there's some up front work that needs to be done around supporting extensions in the mime types. I also want to make extensions optional through the configuration options.

Once that's done I anticipate adding support for bulk should be fairly straight forward. The architecture was designed with this in mind. If bulk is supported the `Reques

[2015-04-30 13:59] john-griffin opened #184 "Association variables not available in resource link callbacks"
I have been trying to build some authorization into a resource using before callbacks but have been struggling to do so with linked/associated resources due to lack of available association variables. When any of these callbacks are fired:

[code]

it does not seem any variables for the link/association can be accessed.

For example, say I was trying to associate a `Comment` with a `User` on a `Co

[2015-04-30 17:57] soeffing commented on #179
Ok, so that are our `Award` and `Ad` resources:

[code]

[code]

When I try to update the association of an `Ad` to an `Award` by essentially passing a new `permalink` of an `Ad` model into the `:has_one` key of the request, like here:

[code]

Then this update won't work, because inside this [method] (https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/resource.rb#L149) the expe

[2015-04-30 23:01] lgebhardt commented on #184
It is expected behavior. I'm not sure how to pass variables into the callbacks (we're using ActiveSupport::Callbacks).

You could use the callbacks on the OperationsProcessor and intercept the `@opperation` variable.

[2015-04-30 23:09] jamonholmgren commented on #89
:+1:

[2015-05-01 02:41] lgebhardt commented on #179
JSON-API specifies that all resource objects have an `id` and a `type` (see [here](http://jsonapi.org/format/#document-structure-resource-objects)). The `primary_key` method is used to map the `id` used in the resource to another field on the model.

Assuming your permalinks are guaranteed unique you should be using them as the `id` field. By setting them as the `primary_key` you are doing that. I

[2015-05-01 12:09] john-griffin commented on #184
Thanks. I started overriding attr assignment methods in the resource to perform the authorization. @brettchalupa has an interesting solution in his PR.

What is the best way to build callbacks on `OperationsProcessor`? I can't find a natural point in our app to add them.

[2015-05-01 12:25] lgebhardt commented on #184
I'm looking at @brettchalupa solution now. Using the `around_replace_fields` callback might give you what you want.

To add callbacks on the `OperationsProcessor` you will need to create a custom `OperationsProcessor` derived from the `JSONAPI::ActiveRecordOperationsProcessor` (or the base one if not using AR). You will then need to override the `create_operations_processor` method on your control

[2015-05-01 12:27] john-griffin commented on #184
No worries, thanks for the details.

[2015-05-01 13:07] #184 closed

[2015-05-01 13:08] lgebhardt commented on #184
@john-griffin This was closed when I merged #187. Feel free to reopen if needed.

[2015-05-01 16:41] #178 closed

[2015-05-01 18:20] mmartinson commented on #87
any status on this?

[2015-05-01 18:22] lgebhardt commented on #87
@mmartinson sorry to say I haven't done any work on this one yet (well since the very out of date branch listed above).

[2015-05-01 18:23] mmartinson opened #190 "Modifying Top-Level Links"
Is there a recommended way to modify the top-level links object? I am trying to and next and previous page links to work with a custom paginator.

[2015-05-01 18:28] lgebhardt commented on #190
I haven't worked out how objects like paginators will insert entries in the top level links or meta sections. Solving this is on the short list.

[2015-05-01 18:43] bjubinville opened #191 "Using ResourceSerializer for integration tests"
Hello,

I'm using trying to write some end-to-end tests for my jsonapi-resources application.  Currently I build simple hashes and POST/PUT json representations of them but thought it would be nice to start with a resource object and use the serializer to build some jsonapi compliant payload to send across in my tests.

Do you have any guidance on how to use the serializer to do this with a new ob

[2015-05-01 19:19] lgebhardt commented on #191
I haven't tried to do what you are asking. In my own testing I simply pass in a hand coded hash in the controller tests.

The Resource object can be initialized with any model. You could create a simple wrapper around a hash that mocks the expected methods on the models. I'm not sure how much that would help over simply maintaining a hash in the JSON-API format however.

[2015-05-01 20:25] bjubinville commented on #191
Thanks @lgebhardt .  I'll stick to hashes myself then as well.  Great job with this.  I hope to contribute in the future.

[2015-05-01 20:25] #191 closed

[2015-05-01 21:48] mmartinson commented on #87
It's something I might look into for my own project. If I was going to write something that might make it for a PR, is there are starting point for this that you have considered. Or any approaches that you have ruled out?

[2015-05-02 01:37] lgebhardt commented on #87
A few thoughts:
* A configuration option for whether to support top level links globally
* Maybe a config option to determine which of the optional links to produce. I'd rather just have it all or nothing to start. But if there's a good reason I'm open to making them configurable.
* The serializer should have options for any info it needs to construct the `related` links. It may already have all i

[2015-05-02 16:18] bjubinville commented on #166
For those in the rspec camp, I've had decent success with: [Rspec Api Documentation](https://github.com/zipmark/rspec_api_documentation).  There are a few nuances, but it's decent for keeping tests and docs in sync.  Happy to answer any questions about my experiences with it.

[2015-05-03 23:29] bjubinville opened #197 "Guidance on STI models"
Hello,

I have a model that has a couple subclasses and is using STI as a persistence mechanism.

Ideally I'd like to have a single route to this resource, but I'm not clear on how to navigate the whole JSONAPI "type" vs the STI "type".

To work around the issue, I've created a computed attribute and return that in lieu of the model "type" attribute.  This works fine and I've overridden ```apply_f

[2015-05-04 03:15] john-griffin commented on #197
:+1:  this is how I would do it at the moment.

[2015-05-04 08:51] thibaudgg commented on #183
@lgebhardt Thanks for the detailed answer. I think we could need the `bulk` extension in the next few months. Let me know when the front work is done and how I could help from there!

[2015-05-04 08:53] thibaudgg commented on #166
@bjubinville thanks for your comment. So far I found the [html output](http://rad-example.herokuapp.com/docs) of RSpec API doc not that nice, did you apply some custom CSS?

[2015-05-04 11:30] slaskis commented on #166
I've been using [RAML](http://raml.org/) to document my API and I like it, it's rather powerful and has some tooling which generates a series of tests to run against the definition which can be nice.

[2015-05-06 08:57] thibaudgg commented on #90
I have the same issue, using header based versioning (with versionist gem) and api subdomain.
My routes:

[code]
I need to have my links like `api.company.com/users/1` and not `api.company.com/api/v1/users/1`.

[2015-05-06 15:22] #190 closed

[2015-05-07 01:27] wzowee commented on #127
Is the remove_ar branch no longer available? I can't see it in the branches dropdown on Github.

I'm trying to get jsonapi-resources working with Mongoid and am having issues with Validations not firing, and records still being created even though fields marked with presence:true have no value present

Resource creation works fine using the @realityendshere approach to setting the Operations Proce

[2015-05-07 01:30] dgeb commented on #127
@wzowee the remove_ar branch was merged to master today - see https://github.com/cerebris/jsonapi-resources/pull/192

[2015-05-09 12:47] xdmx commented on #166
We also use rspec api documentation for our project and we love it, especially having in sync the doc, tests and api, without increasing the work

We use it with [apitome](https://github.com/modeset/apitome) which improves the api style

[2015-05-11 13:55] john-griffin commented on #197
@bjubinville I believe with the recent changes to the spec and what is currently on JR `master` you will now be able to just use the `type` attr inside the nested `attributes` hash.

[2015-05-11 15:01] lgebhardt commented on #197
Currently on master we now use the new `attributes` key, but I wasn't able to remove the restriction on having an attribute named `type` due to the spec:

I'll say this with the caveats that if you do add a type attribute, it **won't be valid JSON API**, and I haven't tested if it will work. I dont think there's a technical reason in JR now that would stop you from having an attribute named type.

[2015-05-11 15:08] john-griffin commented on #197
@lgebhardt thanks for clarifying

[2015-05-11 20:25] bjubinville commented on #197
Thanks @john-griffin and @lgebhardt.  I'll look into this a little bit this week and report back.

[2015-05-12 13:50] lgebhardt opened #206 "N+1 Queries with nested Includes"
#204 and #205 address eager loading of resources and remove the N+1 query issue when resources are included. However the N+1 case still exists for nested includes. For example `include=author,author.comments` results in 19 queries in the test code.

~~I've made a branch to show this (https://github.com/cerebris/jsonapi-resources/tree/query_count). The tests in this work, but aren't what I want in

[2015-05-12 14:01] lgebhardt commented on #206
Here're the queries that are being run for fetching the posts with `include=author,author.comments`:

[code]

It appears the eager loading is working based on the first three queries, however the comments aren't using the retrieved comment data when they are being instantiated.

[2015-05-12 15:48] slaskis commented on #206
I didn't know about query_diet so instead I used instrumentation to track the queries:

[code]

I just logged it (as you can see) but maybe you can change it to something in a test helper?

[2015-05-12 17:20] lgebhardt commented on #206
Thanks, I'll take a look at it. Query_diet was literally the first thing I found that worked for the task. I've hacked how it's used, and it's not very elegant. Still it beats looking only at the log file one test at a time.

[2015-05-12 18:46] slaskis commented on #206
Cool, if you get it working feel free to update this PR and I'll try to debug on my end too

[2015-05-12 18:54] lgebhardt commented on #206
I just updated #205 with a simple query_count method based on the `ActiveSupport::Notifications.subscribe('sql.active_record')` method. I'm going to get rid of the query_count branch now.

[2015-05-12 18:55] slaskis commented on #206
Quick work! I'll have a look

[2015-05-13 15:52] lgebhardt commented on #89
We have PR #202 and PR #199 which both get us farther along towards support for meta tags. I appreciate the work done on these PRs and I see some good ideas in them. However I'm not sure they go far enough to account for the various uses of the meta sections.

As I see it the different meta sections need to be controlled/generated at different levels.

Top Level: This meta is the domain of the req

[2015-05-13 16:38] jamonholmgren commented on #89
I'm currently handling meta information this way, which doesn't solve everything but works for my needs. I override the `index` method on my base controller:

[code]

I'd like to see a more formal way to handle this within jsonapi-resources, though.

[2015-05-13 17:52] slaskis commented on #89
So it seems to me that #202 (sans the class-method support) would handle the resource meta and the controller and/or request should instead provide some kind of api (maybe they just need to respond_to `meta` which return a hash?) for paginators, filters and sorters to append meta fields.

Not sure where and how to deal with links though, they aren't really represented by anything "public" at the m

[2015-05-13 17:53] slaskis commented on #89
In the mean time I think I'll steal @jamonholmgren idea of hijacking the index action to be able to get page count and result count.

[2015-05-13 18:12] lgebhardt commented on #89
I agree that #202 would be a good model for the resource meta. I'm struggling a bit with the request meta. It seems that the contents of meta could vary based on the action. For example we don't need a `page` section for the `show` action, but we may want the copyright info for everything.

For links we do have an association that gets created behind the scenes. Meta configuration could be stored

[2015-05-13 23:43] jakubrohleder opened #207 "User-generated id works only as an attributes key"
Currently user generated id works only when is a part of attributes:

    POST /photos
    Content-Type: application/vnd.api+json
    Accept: application/vnd.api+json

    {
      "data": {
        "type": "photos",
        "attributes": {
          "id": "550e8400-e29b-41d4-a716-446655440000",
          "title": "Ember Hamster",
          "src": "http://example.com/images/productivity.png"

[2015-05-13 23:58] lgebhardt commented on #207
Thanks for the report. I'll try to fix that soon.

[2015-05-14 11:32] jakubrohleder opened #208 "Adding complex links"
Within my resource I have some complex links that are created by many-to-many tables. No wonder when I want to add them through normal interface i recive an error:

[code]

Currenty I'm tackling this issue by modifing controller like this:

[code]

Is there any other, more 'standard' way to do it? Are there any possible issues i can encounter with this approach?

[2015-05-14 13:10] lgebhardt commented on #208
I don't know if this will work for your scenario, but take a look at the `acts_as_set` option in https://github.com/cerebris/jsonapi-resources#associations.

My guess is you're trying to do something a bit more complicated than a simple linking table. If so could you provide a bit more information, maybe with tables, models and resources simplified to highlight the issue.

[2015-05-14 13:23] jakubrohleder commented on #208
Basicly my schama is like this:

    class Activity < ActiveRecord::Base
      # (...)
      belongs_to :event
      has_many :activity_roles, :dependent => :destroy
      has_many :event_invitations, through: :activity_roles
      has_many :users, through: :event_invitations, source_type: 'User' do
        def hosts() merge(ActivityRole.hosts) end
        def attendees() merge(ActivityRole.attend

[2015-05-14 15:04] lgebhardt commented on #208
It looks like the "has_many :users" is computed on the model, yet you are trying to add in a user with the resource. Maybe you could override the `user_ids=` method.

[2015-05-14 15:16] jakubrohleder commented on #208
Yep it is computed on the model by joining some tables.

 I don't know if rails is smart enough to recreate the logic just by associations, i.e. how can it tell that only one event_invitation must be created per (event, user).

My idea was to 'take out' those complex links from the request and process them manully.

By overwriting `user_ids` u mean doing in in a model, controller or resource?

[2015-05-14 15:21] lgebhardt commented on #208
Sorry, I meant in the Resource.

[2015-05-15 10:28] slaskis opened #210 "Sorting by id does not use primary_key"
I have a resource which uses `key` as the "primary_key".

But when I try to sort using `?sort=+id` it uses the internal `id`-column instead of the `key`-column as expected.

I've done this little monkey patch locally for [this code](https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/resource.rb#L512-L516) for now:

[code]

Not sure if that's where this should be fixed or if it s

[2015-05-15 12:47] lgebhardt commented on #210
I think this is the right way to fix this. Thanks in advance for the PR.

Also, I think we need a default sort, and I think `id` is the only possible option. It should always exist (once your fix is in) and will always be indexed. If you fix [this](https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/request.rb#L18) with this:

[code]

it should work. I'm pretty sure this will be

[2015-05-15 13:09] slaskis commented on #210
Sure, I'll add it but since Rails 4 I believe it always orders by id unless anything else is specified.

[2015-05-15 13:28] slaskis commented on #210
I noticed the tests I added failed with that default sort added without the primary key fix so it was a good addition I think :+1:

[2015-05-15 13:29] lgebhardt commented on #210
I looked at the queries run without a sort and there wasn't an order specified.

[2015-05-15 13:46] #210 closed

[2015-05-17 13:16] xdmx commented on #45
Is there any plan on adding the cursor pagination?

I ask because in the readme there is `# built in paginators are :none, :offset, :cursor, :paged`, but it's the only part in the repo where it mentions the cursor paging, in the code there is only offset and paged

[2015-05-18 13:06] john-griffin commented on #45
@xdmx it is possible to write [custom paginators](https://github.com/cerebris/jsonapi-resources#custom-paginators) that live outside of core JR. However I have been digging into this and believe to implement cursor based pagination the current sort context will need to be available inside the paginator, which it currently isn't.

@lgebhardt shall I go ahead and submit a PR for passing the `order_o

[2015-05-21 16:12] jakubrohleder commented on #208
Sorry for long pause in the converstion - I was pretty busy lately with my other projects.

It seems that your idea with `user_ids=` pretty much works. I got access to user_ids and I can implement some custom logic up there. The only thing i can't do is to distinguish between attendees and hosts (both triggers `user_ids=` method). Is it possible?

Example of a request with both attendees and hosts

[2015-05-22 09:49] jakubrohleder commented on #208
It seem that was impossible but I've made some changes to resource implementation that makes user defined methods such as `user_ids=` to be called with two arguments: `association_key_values` and `association_type`, instead of just `values`. I'll prepare a pull request shortly.

[2015-05-22 14:04] leomeira commented on #179
Does jsonapi-resources support composite primary keys?

For example, the following Rails Model has composite primary keys:
[code]

And I tried the following on the Resource, but it doesn't work, because primary_key method expect only one argument.
[code]

[2015-05-22 14:08] lgebhardt commented on #179
Composite primary keys are not supported at this point, as you have observed.

[2015-05-22 14:10] leomeira commented on #179
Thank you for the prompt response

[2015-05-22 20:35] yawboakye commented on #207
@lgebhardt You beat me to fix. I actually had a fix in the pipeline after it bit me so hard. I really appreciate your work rate and dedication :+1:

[2015-05-22 20:38] jakubrohleder commented on #207
Looks good to me :+1:

[2015-05-22 20:38] #207 closed

[2015-05-25 21:23] lizixroy opened #218 "Rails turns “CONTENT_TYPE” into “HTTP_CONTENT_TYPE”. How do you guys approaches this problem?"
I am using JSNOAPI-resources to build an API. I know that it requires every request to have "application/vnd.api+json" as value of the "CONTENT_TYPE" header.

Problem is that whenever I set "CONTENT_TYPE" at the client side, Rails will turn it into "HTTP_CONTENT_TYPE"(https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/http/headers.rb). Therefore, the JSONAPI-resources gem wi

[2015-05-26 18:04] oliverbarnes opened #219 "Missing ActsAsResourceController module"
Couldn't include it, and then couldn't find ActsAsResourceController anywhere in the source... Am I missing something? No pun intended

[2015-05-26 18:26] lgebhardt commented on #219
It's only in the master branch. I haven't released a new version with this yet so you will need to temporarily specify the branch in your Gemfile.

[2015-05-26 18:29] oliverbarnes commented on #219
Solves my problem :) 

thanks for the super quick response, Larry.

Oliver

On May 26, 2015 at 3:26:32 PM, Larry Gebhardt (notifications@github.com) wrote:

It's only in the master branch. I haven't released a new version with this yet so you will need to temporarily specify the branch in your Gemfile.

—
Reply to this email directly or view it on GitHub.

[2015-05-31 03:27] pixelhandler opened #228 "Route for updating relationships has 'links' not 'relationships' in uri"
I'm curious is the routing for updating relationships needs a change to match the spec.

In the readme I see a path for "/phone-numbers/:phone_number_id/links/contact" but thought the 1.0 release mentioned using "relationships" in the URI, perhaps like so: "/phone-numbers/:phone_number_id/relationships/contact"

[code]

The spec page for updating relationships at http://jsonapi.org/format/#crud-up

[2015-06-01 07:02] wzowee commented on #16
@barelyknown what are you using for authentication? My only experience with authentication in Rails so far is Devise, but that does not appear to be a good fit here.

[2015-06-01 11:30] barelyknown commented on #16
@wzowee Devise could work fine. I've used that or just rolled my own using `has_secure_password`. In either case, I use the OAuth2 password flow and then `ember-simple-auth`.

[2015-06-01 12:53] lgebhardt commented on #228
@pixelhandler Thanks for catching this.

[2015-06-01 13:15] #228 closed

[2015-06-01 22:40] barelyknown commented on #87
What's everyone thinking now about pagination links in the top level `links` object? There are a couple of issues that reference it, but it doesn't look like any PRs are merged. Can we organize an effort to get these in?

[2015-06-01 23:13] #219 closed

[2015-06-02 00:05] oliverbarnes opened #233 "Inserting an relationship on resource creation"
Sorry if this is a stackoverflowy question...

What's the recommended way to associate, say, a controller's `current_user` to a resource being created? I've been going through the readme and the source, and see some leads like setting the context on the controller and passing it on to the resource, and using the before_create callback, but I don't grok yet how to set the relationship through it.

[2015-06-02 02:36] lgebhardt commented on #233
Glad you're finding JR useful.  You can set the context to contain the current user in the controller (probably in a base controller that you derive your other controllers from is better). In the example to follow the controller has a method to get the current user, called `current_user` and this is being set in the context as a hash value with a key also called `current_user`:

[code]

Then on a

[2015-06-02 11:27] thibaudgg opened #234 "202 Accepted response on POST"
I'd need to return `202 Accepted` response on some resource creation and I didn't find anything about it on the codebase.
Is it already supported? Thanks

From the [jsonapi docs](http://jsonapi.org/format/#crud-creating-responses-202):

[2015-06-02 13:24] lgebhardt commented on #234
It's not currently supported. How will you know that you need to return a 202? I'm thinking we could have the `replace_fields` method on the resource return whether the save was completed or delayed. Then the operations could reference this to determine which response code is appropriate. Do you think that could work?

[2015-06-02 13:34] thibaudgg commented on #234
We would always return a 202 for some model creation/update, not sure if `replace_fields` would works here, what about returning `:delayed` on `create`/`update` to automatically set the response?

[2015-06-02 13:47] lgebhardt commented on #234
`create` returns the new resource. `replace_fields` is actually where the save occurs and is used in both the create and the update/replace fields operations.

[2015-06-02 13:50] thibaudgg commented on #234
Ok makes sense then, `replace_fields` would not have been the first thing to look at for such behaviour, could worth some documentation on the README. Thanks!

[2015-06-02 14:04] lgebhardt commented on #234
I agree it's probably not very clear. Really I think `_save` should be what returns whether the result was `:completed` or `:delayed`. This can then flow through `replace_fields` to the operation.

[2015-06-02 14:09] lgebhardt commented on #234
Or maybe not. I forgot `save` on ActiveRecord already has a return value.

[2015-06-02 14:10] lgebhardt commented on #234
How are you handling the delayed saves in the model?

[2015-06-02 14:20] thibaudgg commented on #234
Nothing special on the model, it's just delayed from the controller with ActiveJob.

The usecase is an `/actions` endpoint where API client are just posting some random action without caring about the response body. (There's even no Action#id at the end)

[code]

[2015-06-02 14:51] lgebhardt commented on #234
I'm a bit confused. Do you have this working, but just need the response code changed? Or is it that you need the resource to also handle creating the Action as an ActiveJob?

I'm sure I'm not understanding this correctly, but it seems like you could create a model for the actions that returns a `201 Created` and would have an id in the database. This would also make a new ActiveJob that could ref

[2015-06-02 15:00] thibaudgg commented on #234
Sorry, I wasn't clear enough.
In our app (still in development) the Action resources will not be saved in the db, the data will just be processed through a background job without being stored in an `actions` table. Because of that, there is no action#id to return and then `201 Created` is a not possible if we follow the spec.
My idea was that returning `202 Accepted` was ok in that case, maybe I'm

[2015-06-02 15:24] lgebhardt commented on #234
Yes, 202 would be correct in your case. I'm just trying to figure out the best way to handle this in JR.

I'll dive into the code soon and see if I can retrofit a solution.

[2015-06-02 18:09] oliverbarnes commented on #233
Thanks, this helps a lot. Should have guessed the resource would have a reference to the model :) makes sense.

[2015-06-02 18:09] #233 closed

[2015-06-02 19:31] lgebhardt commented on #234
Take a look at the op_response_codes branch (https://github.com/cerebris/jsonapi-resources/tree/op_response_codes). From the `_save`, `_create_has_many_links`, and `_replace_has_many_links` you can now return an alternate response code. Returning `:accepted` will result in a 202 response instead of a 201. Simply override the `_save` method on your resource like this:

[code]

Let me know if that w

[2015-06-02 19:32] lgebhardt commented on #234
I'm also open to other implementations if anyone has any better ideas.

[2015-06-02 23:26] oliverbarnes opened #236 "Authorization patterns"
Following my question on #233, I came across authorizing a show operation, checking for ownership of the resource by the current_user. Based on what you explained, I came up with this solution below:

[code]

Not sure if anybody else is already doing this, but figured this might reusable? I can submit a change to the README or add a wiki page for it if it is.

Also wondering if this could be baked

[2015-06-02 23:35] oliverbarnes commented on #16
@barelyknown I think you're on to something, I've been also thinking it'd be nice to use a pundit-like solution. Only I'm wondering if it'd be possible to have separate Policy objects with methods for each of the operations, and this object would be passed around to both resources (for GET requests / show operations) and controllers (for POST and PATCH / create and update operations). I'm still gr

[2015-06-02 23:39] oliverbarnes commented on #16
@wzowee we're also using ember-simple-auth + rolling our own token oauth, but this setup assumes you have an ember front-end, a single trusted client. Is that your scenario? It might be different for, say, services, or a public API.

[2015-06-03 03:16] barelyknown commented on #16
I've evolved my approach a bit (but it's still the same basic idea). Here's some sample code. It might be helpful.

[code]
[code]

[2015-06-03 04:13] wzowee commented on #16
@oliverbarnes yeah - that's pretty much my scenario at present - have gone with ember-simple-auth and devise for now (see http://johnmosesman.com/ember-simple-auth-tutorial-and-common-problems/), mainly due to time constraints and not wanting to re-implement what comes for free with devise (account locking, password reset emails etc)

@barelyknown thanks for the update on how your authorisation is

[2015-06-03 06:20] thibaudgg commented on #234
Hmm, `_save` is a private Resource method right? I'm not sure if it's safe to ask the overriding of a private method. What do you think?

What about a Resource class method to override the `:default` response?

[code]

Thanks for the quick PR, much appreciated!

[2015-06-03 18:29] oliverbarnes commented on #16
@barelyknown I'm having a hard time seeing where the authorization rules are, or would go, there

[2015-06-03 19:21] barelyknown commented on #16
The authorization rules are all in Pundit policies. https://github.com/elabs/pundit

[2015-06-03 22:12] oliverbarnes commented on #16
Example?

[2015-06-04 00:17] barelyknown commented on #16
Sure. Here's an `ApplicationPolicy` for an app. Ever resource has a matching policy (like `PostPolicy` or `CommentPolicy`), and they all (or at least most) inherit from the `ApplicationPolicy`. `pundit` policies authorize requests and provide scopes (which are relations that represent all of the records that a given user is authorized to see). Let me know if you'd like anything explained.

[code]

[2015-06-05 16:36] oliverbarnes commented on #16
Thanks. I guess my question is how would a pundit policy handle authorization that needs to be done before hitting the model. Checking the user id requested to patch a user resource against the current user's id, for example

[2015-06-05 16:46] barelyknown commented on #16
It would first find the user that is the subject of the action. Then it would check if the `current_user` has permission to perform the action on that user (see `#authorize_policy`).

[2015-06-05 17:54] oliverbarnes commented on #16
Right, that's what I mean - how do we do that based only on the user id *param*, without actually fetching the user from the database? Maybe this is out of JR's concern in the end... there's a reason why there's a separate specs for authorization (like OAuth2) and resources. Just learning this myself

[2015-06-05 18:09] barelyknown commented on #16
Why wouldn't you want to fetch the user with the `user_id` param?

[2015-06-07 21:52] oliverbarnes commented on #16
Why fetch a record or even touch the database at all when you already know it’s off-limits? Best to respond with 403 as quickly as possible, IMHO

On June 5, 2015 at 3:09:18 PM, Sean Devine (notifications@github.com) wrote:

Why wouldn't you want to fetch the user with the user_id param?

—
Reply to this email directly or view it on GitHub.

[2015-06-07 22:28] barelyknown commented on #16
How would you know?

[2015-06-08 07:40] Fivell opened #242 "clarify batch creation of nested objects"
Hello, what is the way of batch creating of nested  objects, like `accept_nested_attributes` does in rails.

Fo instance how can be implemented batch POST of order with order_items or something similar

[2015-06-09 09:29] fsmanuel commented on #16
@barelyknown i like the approach. I'll give it a shot and provide feedback.

[2015-06-09 13:04] oliverbarnes commented on #16
The client would send it? Assuming the relationship with the owner is always present in the requests

On June 7, 2015 at 7:28:12 PM, Sean Devine (notifications@github.com) wrote:

How would you know?

—
Reply to this email directly or view it on GitHub.

[2015-06-09 13:34] barelyknown commented on #16
That doesn't sound right (at least not for the standard case). You can authenticate who the request came from based on info in the request, but you need for the server to authorize that that user can perform whatever action they're trying to perform, and that will require looking up the some info in the DB (or wherever).

[2015-06-09 14:09] mrcasals opened #244 "Update to JSONAPI 1.0"
JSONAPI has been updated to version 1.0. This gem seems to be updated to RC2, seeing #119 is still open. How can I help?

[2015-06-09 14:32] barelyknown commented on #244
It's updated to 1.0. We just need to close that issue.

[2015-06-09 14:35] brettchalupa commented on #244
@mrcasals It is worth noting that there has not been a new release cut w/ the JSON API 1.0 support yet. I would suggest using a recent master commit from GitHub in your Gemfile. :smile:

[2015-06-09 14:35] mrcasals commented on #244
Then maybe the code is not released in a new version of the gem? Just installed the gem, and I'm seeing `linkage` keys.

[2015-06-09 14:37] barelyknown commented on #244
@brettchalupa is right. Use the master branch for now, but it's updated to 1.0 and being actively worked on.

[2015-06-09 14:43] lgebhardt commented on #244
We are working a few issues to complete compliance with 1.0. Once those are finished a new version of the gem will be released. For now use the master branch in your Gemfile and you will get a version that's 95%*  compatible with the 1.0 spec.

\* not an accurate statistic

[2015-06-09 14:45] mrcasals commented on #244
Awesome, just tried it. Thanks, and sorry for not checking it in advance.

I'll close this issue.

[2015-06-09 14:45] #244 closed

[2015-06-09 16:59] lgebhardt commented on #234
@thibaudgg I reworked the PR a bit. I think it's cleaner now, with a better separation of concerns.

There are other methods besides save that could defer the action and need to return `:accepted`. So a single `default_save_response` setting would not suffice. I don't see an issue with overriding the `_save` method if you need to, and this would allow you to sometimes defer and sometimes complete

[2015-06-09 20:03] seizadi opened #248 "uninitialized constant JSONAPI error with config.eager_load = true"
Following the site README with new test project. I have error w/ controller generation with config.eager_load = true, when I turn it off the error goes away.
-Soheil

$ rails g controller Users --skip-assets
/Users/seizadi/hadoop/rails-projects/threatfeed/jsonapi/tfwebserver/app/controllers/application_controller.rb:1:in `<top (required)>': uninitialized constant JSONAPI (NameError)
	from /Users/s

[2015-06-09 20:50] seizadi commented on #248
Sorry, this was my error did not include Gem in Gemfile.

[2015-06-09 20:50] #248 closed

[2015-06-10 07:24] thibaudgg commented on #234
I think it's good practice to prevent private method overriding, it makes the library more stable and less problematic to upgrade (do you remember Rails 2 where everybody was monkey patching private method?, It was a big pain to upgrade.). Maybe later you would want/need to change the internal of `Resource` and removing this method will be problematic if people are overriding it. It doesn't feels

[2015-06-10 12:12] dgeb commented on #234
If we never want to allow `_save` to be called externally, it should remain `private` (or perhaps `protected`).

We don't want to force a class to reveal more of its internals than necessary just to communicate with developers that a particular method can be overridden. It's perfectly valid to suggest overriding a private method, but we should be explicit that this is expected for each method with

[2015-06-10 12:38] mrcasals opened #250 "How to define custom relationships from Resources"
Hi!

I have this structure:

[code]

In order to show the JSON I use this in my controller:

[code]

The `most_relevance_comment` relationship is not on the model layer, it doesn't exist. This is the JSON I'm getting:

[code]

So it isn't actually including the `most-relevant-comment` object, though it's returning the `data`attribute of the relationship. Also, for the `commetns` relationship there

[2015-06-10 13:24] mrcasals commented on #250
Oh, found the problem. The `include` part in the controller has to use underscores, so I should use this:

[code]

[2015-06-10 13:24] #250 closed

[2015-06-10 13:30] lgebhardt commented on #242
We don't currently have support for batch operations. We're waiting for the [extensions](http://jsonapi.org/extensions/) to gel in the JSON API spec before adding support.

[2015-06-10 13:36] #234 closed

[2015-06-10 13:40] thibaudgg commented on #234
@dgeb agreed, great now with the comment on top of `_save`. :+1:
@lgebhardt Thanks for the PR!

[2015-06-10 13:52] mrcasals opened #251 "Include relationships by default"
Is there any way to include relationships by default by specifying them from the controller?

Thanks!

[2015-06-10 14:17] lgebhardt commented on #251
We don't currently have an official way to include some related resources by default. You could override the `setup_request` method on your controller and insert a new `IncludeDirective`. You could also create a `before_filter` that runs before the `setup_request` and initialize the `include` parameter if it isn't provided.

[2015-06-10 14:19] mrcasals opened #252 "How can I specify the collection I want to render?"
Hi!

I have a `Post` model in my app, and I want  my API to return just a subset of those posts (say, for example, `Post.published`, or `Post.all.select { |post| post.comments.empty? }`. I found the code of the controller, but it looks like there's no good way to customize the collection I'm rendering:

https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/acts_as_resource_controll

[2015-06-10 14:48] lgebhardt commented on #252
The ability to set a default filter on a resource is in the master branch. I'm getting a new release ready, which will include this, along with some documentation in the readme that's currently missing. If you are using the master branch you can specify a default on the filter, for example:

[code]

This uses the filtering logic on the resource. I sense from your two recent questions that you are

[2015-06-10 15:07] lgebhardt commented on #252
I should add that there isn't anything wrong with overriding the logic in the controller, just that it isn't necessary in most cases. I hope my earlier comment didn't come across as critical. I'm just trying to explain the design decisions a bit.

[2015-06-11 06:54] mrcasals commented on #252
No offense taken, don't worry about that. I'll give it a go, thanks!

[2015-06-11 06:54] #252 closed

[2015-06-12 09:47] senid231 commented on #87
+1 for optional top level links

[2015-06-12 09:52] senid231 commented on #126
+1
it will be better to have choice: add total_count to top level links or meta or even both

[2015-06-12 13:21] lgebhardt commented on #126
The 0.4.0 release now has support for collecting meta data during the processing of the operations, collecting the meta from all operations, and outputting the collected meta as part of the new ResponseDocument.

We chose to forgo adding a standardized option to collect and output total record count since it's not entirely clear as to what the preferred format is, or even if there will be a standa

[2015-06-12 13:28] lgebhardt commented on #87
As I said in #126 we hope to add top level links in a similar manner to the way top level meta is now implemented. This will probably be the next feature I work on.

[2015-06-13 15:48] Fivell commented on #242
@lgebhardt, any workaround ? How would you suggest  to build API method to create resource if it is not valid without it's nested objects (order has_many order_items, company has_one address, etc)

[2015-06-13 16:34] lgebhardt commented on #242
Well the basic architecture was designed with the idea that we'd be supporting batch operations. The `Request` object parses the request data and turns it into different `Operations`, when then get run through the `OperationsProcessor`. I would start by modifying the `Request` object to accept your complete set of data and turn it into multiple Operations. I suspect the rest of the code should han

[2015-06-13 20:29] Fivell commented on #242
not long time note about complex objects was merged to json-api. http://jsonapi.org/format/#document-resource-object-attributes

It is still not very clear about creating resource, but nested objects   might be presented as array inside complex attribute.

So it might looks likes

[code]

[2015-06-14 12:20] lgebhardt commented on #242
That could work for create in simple cases, but given the spec specifically excludes the `links` and `relationships` it would be of limited use for more complex nested objects. The best approach would be to push for the spec to include support for this so we can implement it in a standard way. However I'm sure a few minor modifications could get this working.

[2015-06-16 14:20] thibaudgg opened #257 "Namespaced (with custom path option) and scoped routes support"
My API endpoints are defined like that:

[code]

This ends up with routes looking like:
 `/:customer/users/:id`
 but JR returns self links like:
`/api/v1/users/:id`

 I managed to fixing that by monkey-patching `JSONAPI::ResourceSerializer` with:

[code]

but it's less than ideal. It would be nice to have a proper support for custom routes.

It could be fixed by #159 maybe.

Thanks!

[2015-06-17 20:58] lgebhardt commented on #257
Ok, I'll revisit #159 soon.

[2015-06-17 21:10] thibaudgg commented on #257
@lgebhardt awesome, thanks!

[2015-06-18 05:34] sirvine opened #259 "PATCH request results in 105 errors on all params (0.4.0)"
After bumping to 0.4.0, I'm getting 105 errors (Param not allowed) for every param included in the payload.  Everything was working fine under 0.3.3, and the payload should be JSONAPI 1.0-compliant.

The changelog for 0.4.0 is a bit vague...have I missed an obvious breaking API change?

[2015-06-18 11:38] lgebhardt commented on #259
@sirvine The [JSONAPI 1.0](http://jsonapi.org/format/#crud) format has the parameters moved into an `attributes` key. My guess is that's the cause of the errors you are getting. If that's not it could you provide an example of the request payload?

[2015-06-18 13:07] sirvine commented on #259
Here's an example of my PATCH payload:

        {
          "data"=>
          {
            "id"=>"42",
            "name"=>"New",
            "startsAt"=>"2012-06-20T15:00:00.000Z",
            "expiresAt"=>"2016-06-21T15:00:00.000Z",
            "annualizedSpendCents"=>2000000,
            "annualizedSpendCurrency"=>"USD",
            "createdAt"=>"2015-05-22T15:58:03.243Z",
            "update

[2015-06-18 13:13] lgebhardt commented on #259
Yes, that's the old format. You will probably need to continue using 0.3.3 until ember-json-api is updated.

I'm surprised the get requests are really working. Check out the actual data.  All the attributes are probably under one key called attributes and I imagine the linkages are probably broken.

Let's leave this open for a little bit in case others have the same issue.

[2015-06-18 13:23] sirvine commented on #259
It looks like I was still serializing with AMS.  Hence the difference between inbound and outbound structure.

[2015-06-18 13:25] thibaudgg opened #261 "Removing edit routes?"
I'm not sure why having the `/edit` routes is useful when using `jsonapi_resources` routes helper, is it not exactly the same than `:show`?
Should JR skip that routes generation?

https://github.com/cerebris/jsonapi-resources/blob/master/README.md#routing

[2015-06-18 13:35] dgeb commented on #261
Good catch. Those routes shouldn't be generated.

[2015-06-18 13:39] thibaudgg commented on #261
:+1:

[2015-06-18 13:40] lgebhardt commented on #261
Agreed, it shouldn't be generated. Also the `:new` routes.

[2015-06-18 13:41] thibaudgg commented on #261
Right, don't know why I skipped the `:new` one. :ok_hand:

[2015-06-18 13:43] lgebhardt commented on #261
Probably the same reason we didn't notice the `:edit` routes. :smile:

[2015-06-18 13:43] thibaudgg commented on #261
:smile_cat:

[2015-06-18 16:07] esasse commented on #259
The demo app is still using the old format and it took me some time to understand what was wrong.

[2015-06-18 16:31] #261 closed

[2015-06-18 16:37] lgebhardt commented on #259
@esasse Sorry about that. I forgot to update the demo to the new format.

[2015-06-18 17:19] esasse commented on #259
@lgebhardt don't worry, you're doing such a great job. I probably should have sent a PR to update the demo. Want me to do that?

[2015-06-18 17:21] lgebhardt commented on #259
@esasse Thanks! I would greatly appreciate a PR to update the demo.

[2015-06-19 00:44] realityendshere opened #263 "v0.4.1: @context never set for JSONAPI::FindOperation.record_count"
The `record_count` method seen below references `@context`, but that attribute does not appear to be set anywhere. As a result, trying to narrow results with a custom `self.records` in a resource results in a variety of nil-does-not-have-that-method style errors.

https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/operation.rb#L26-L30

[code]

This seems to impact top level link

[2015-06-19 02:15] lgebhardt commented on #263
Thanks for reporting this. I should have a fix for this up soon. I'm going to try to rework the way context is passed around in the operations.

[2015-06-19 04:39] samselikoff opened #265 "uninitialized constant JSONAPI::ActsAsResourceController"
I'm trying to include resource behavior in a base resource controller

[code]

and am getting this error:

Do I need to `require` something somewhere?

[2015-06-19 07:33] thibaudgg commented on #261
:+1: Thanks!

[2015-06-19 11:56] lgebhardt commented on #265
@samselikoff There are two ways to create a controller using JR. The original way was to derive from `JSONAPI::ResourceController`. The other is to keep your controller derived from `ActionController::Base` and include `JSONAPI::ActsAsResourceController`. In your case where you wish to create a base controller the following are functionally equivalent:

[code]
is functionally equivalent to

[code]

[2015-06-19 12:38] #263 closed

[2015-06-20 04:03] achan opened #268 "ResourceSerializer#self_href doesn't generate correct links for mounted engines"
When mounting an engine that uses `jsonapi-resources` to a custom folder like so:

[code]

All my links are not taking into account the custom folder when generated.

When hitting the following endpoint:

`GET http://example.com/api/v1/bulletins/2`

My response looks like so:

[code]

I'm pretty sure the issue is that the `ResourceSerializer` doesn't take into account mountable paths when formatti

[2015-06-20 12:15] lgebhardt commented on #268
@achan I'll see if I can get this figured out. In the meantime creating your own serializer might be a good temporary fix.

[2015-06-21 00:27] brandonparsons opened #269 "Using slugs as IDs, relationships -> links attribute"
Hi there,

I'm just starting to play around with JR.  I'm using slugs as primary keys for a few models in my API (and have set `primary_key :slug` in my serializer.

The issue seems to be that JR is outputting the integer ID in the relationships/links section. E.g.:

[code]

I would have expected slugs here.  Help would be appreciated!

[2015-06-21 14:00] lgebhardt commented on #269
The JSON API format now specifies that we return identifiers as `id`. The `primary_key :slug` in a resource class (not the serializer) tells the resource that internally the `id` field should pull from the model field `slug`.

If that doesn't answer your question please post an example with the resources and models and let us know what you are trying to do.

[2015-06-21 19:26] brandonparsons commented on #269
Thanks for the quick reply. Doesn't quite answer my question :)

What I'd like to do is for all public facing information (i.e. every single response from my API) to show ID's for specific models as slugs, not as ID's. Said differently, `location ID = 15` should never be seen. It should *always* show `ID = 'toronto'`.  Both in responses from the `SHOW` action of the model, and in all links.

[code

[2015-06-21 20:45] slaskis commented on #269
This works for me exactly the way you describe - set primary_key and override verify_key.

I'm still on a pre 0.4.0 version though so maybe it's a regression?

[2015-06-21 21:03] lgebhardt commented on #269
@brandonparsons It looks like you are doing it correctly. Which version are you using?

[2015-06-22 04:11] brandonparsons commented on #269
@slaskis @lgebhardt I am using `0.4.2` - should I try going back a few versions?

[2015-06-22 04:16] brandonparsons commented on #269
@slaskis @lgebhardt I must be doing something wrong? I've tried back to `0.3.3` and I'm still getting the behaviour with IDs.

[2015-06-22 04:21] rahult commented on #269
I am using 0.4.2 and have the same issue.

[2015-06-22 06:37] slaskis commented on #269
It's strange because there are even tests for this:

https://github.com/cerebris/jsonapi-resources/blob/4e46ed00606440f7136b041a6ead4c8353bc4a4b/test/controllers/controller_test.rb#L1534
https://github.com/cerebris/jsonapi-resources/blob/master/test/fixtures/active_record.rb#L660

[2015-06-22 13:38] samselikoff commented on #265
Upgrading from 3.3 to 4.2 fixed it. Thanks Larry!

[2015-06-22 13:38] #265 closed

[2015-06-22 14:15] lgebhardt commented on #269
@brandonparsons I suspect the difference is the tests assume that the `code` is the actual primary identifier on the model. The primary_key is being set on the model with `self.primary_key = :code`. It sounds like on your `slug` example the `id` is still the primary key, but you wish for the resources to hide this and use `slug`. Is this correct?

There should be no reason to go to an earlier vers

[2015-06-22 19:47] realityendshere commented on #263
Awesome! Thanks for the quick fix. Seems to be working quite well.

[2015-06-22 22:27] brandonparsons commented on #269
@lgebhardt Yep - that is correct. Internally, I'm not using the slug as a primary key (I'm actually using UUID's), but I want the resources to completely hide this fact. To the outside world, the slugs should appear to be the ID.

[2015-06-23 12:51] lgebhardt commented on #269
@brandonparsons With the current architecture of JR completely hiding the actual primary key isn't possible. We can mask it when retrieving the `locations`, but the relationships are still using the `id`. To display those using the `slug` a translation from `id` to `slug` would be needed. When creating a new relationship the reverse translation would be needed. Unless I'm missing something, I see

[2015-06-23 14:18] senid231 opened #270 "exception in JSONAPI::Request#parse_sort_criteria"
if you send request like:
[code]
application raise exception
[code]
because ```params[:sort]``` is equal to "" and ```CSV.parse_line(URI.unescape("")``` is nil

source:
[code]

[2015-06-23 14:23] lgebhardt commented on #270
Good catch. Thanks

[2015-06-23 15:34] brandonparsons commented on #269
@lgebhardt Thanks for the detailed reply. I certainly don't want to add a pile of work for you guys!

In general, I prefer to leave my database primary keys as integer IDs or UUIDs, and not do anything special (i.e. use slugs as primary keys). That being said, I want my ember application to use the slugs as IDs, as that is how it generates routes that are displayed to the user.  To accomplish this

[2015-06-23 16:04] rahult commented on #269
@lgebhardt @brandonparsons I have exactly the same use case. Want to use slugs within our ember app without changing the internal id:uuid representation. However, just in case this is going to be a lot of work. I tried the approach of changing id:uuid to id:string format with my rails application and it working just fine.

Just feels a bit weird storing strings as ID's instead of UUID or Integers

[2015-06-23 17:04] dgeb commented on #269
@rahult @brandonparsons I've seen plenty of ember implementations that use a combination of the `model` and `serialize` hooks on a route to accomplish your goal. See http://emberjs.com/api/classes/Ember.Route.html#method_serialize

This allows you to maintain consistent IDs on both sides of your application, and provides the potential benefit that your slugs can be mutable (note: JSON API doesn't

[2015-06-24 02:55] esasse commented on #233
I'm trying to follow these instructions but the object I'm putting in the context hash never gets to the model.

My base API controller is this:

[code]

And in my resource I have:

[code]

But `context[:current_station]` is allways `nil`.

Any help would be very appreciated, thanks!

[2015-06-24 03:15] lgebhardt commented on #233
That looks correct. Have you checked that `@station` has been set when context is called? Are you sure your save method is being called. Some operations do not call the save method.

[2015-06-24 04:38] brandonparsons commented on #269
Cool - thanks @dgeb. If you are all comfortable, feel free to close this ticket.

[2015-06-24 12:14] pmukerji opened #271 "Support for has_one :through Association"
We're working on an endpoint where the ActiveRecord model makes use of has_one :through

Demo example:

[code]

In this case we might want to have the User's Shirt directly in API as a relationship when retrieving User data:

[code]

At the moment the foreign key for an association is set here:

https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/association.rb#L22

In cases wher

[2015-06-24 12:32] lgebhardt commented on #271
I'm not sure it's better, but you could also put the `shirt_id` method on the resource. That would limit the impact of the hack incase you don't want the `shirt_id` on the model.

[code]

Maybe in a future release we could add the `through` option to resource associations to handle this automatically. But it doesn't exist now.

[2015-06-24 12:57] pmukerji commented on #271
Thanks for the quick response. We'll go with defining it on the resource as you suggested.

[2015-06-24 13:04] esasse commented on #233
Looks like the `context` method is being called before `authenticate` and then `@station` is still not set. But why would that happen?

BTW, the authentication is working properly.

[2015-06-24 13:11] lgebhardt commented on #233
My guess is it's happening because the request is also using a before_filter and the order is wrong. Try using `prepend_before_filter`.

I guess I should revisit the use of the before_filter.

[2015-06-24 13:18] esasse commented on #233
That did it, thanks a lot! :smile:

[2015-06-24 13:22] lgebhardt commented on #233
Great. Thanks for letting me know. I'll look into whether we can setup the request another way. Maybe using `append_before_action` will do it.

[2015-06-24 19:26] dgeb commented on #269
@brandonparsons ok, I'll close for now but feel free to comment further here if you have any questions / problems.

[2015-06-24 19:26] #269 closed

[2015-06-27 19:01] danielspaniel opened #275 "Is there a way to include records that are not associated to primary model?"
I am trying to 'include' ( side load ) records that are not directly ( though indirectly ) related to the primary resource object being serialized.
 Is there a way to do that?
I tried to using the includes hash, but if that have does not find the association in the resource, it ignores it.

[code]

I want to include the buildings but they are not part of the project model directly, so they don't s

[2015-06-27 19:54] danielspaniel commented on #275
I am seeing that the answer is no .. since the jsonapi structure is not so loosey goosey

[2015-06-27 19:54] #275 closed

[2015-06-28 12:29] brandonparsons commented on #269
@dgeb  - perhaps the following sentence in the README can be changed?

` Note: this doesn't have to be the actual primary key of the model. For example you may wish to use integers internally and a different scheme publicly.`

[2015-06-28 12:43] lgebhardt commented on #269
@brandonparsons Yes, we should remove that as it is definitely wrong. Thanks for pointing that out.

[2015-06-28 14:32] brandonparsons opened #276 "How to use ActiveRecord's `include` in my base queries?"
Hi there,

This may be covered already, but I can't figure it out.

Because of a particular method on my base ActiveRecord model, I need to use `include(:something_else)` for queries of that resource.

How can I get `JR` to do this?

I've tried this:

[code]

But it doesn't appear to work.

Thanks!

[2015-06-28 16:38] slaskis commented on #276
It does include the requested resources by default but if abuse attributes and require some custom includes (as I do) you can override [`Resource#apply_includes`](https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/resource.rb#L367-L370) to do this, I do this in some of my resources:

[code]

Mind you my code is still in pre 0.4.x so it might have changed but I don't think so.

[2015-06-28 18:05] brandonparsons commented on #276
Thanks @slaskis ! I'll give that shot :)

[2015-06-30 14:55] esasse opened #278 "Complex / preset filter on the server"
I have a complex filter for a specific resource that all clients of my API are going to need.

Is it possible to create a preset filter on the server so that the client wouldn't need to build it in the request url?

Something like: `http://example.com/contacts?filter[my_preset_filter]`

I saw the `apply_filter` options in the readme, but l understand they should be used to customize filters to spe

[2015-06-30 16:22] slaskis commented on #278
As far as I understand the specification does not define in any detail _how_ the filters will work. So you're free to implement it as you like.

JR on the other hand does present some defaults where it filters by a field. But I think as long as you return a set of records (or a Relation) in `apply_filter` it doesn't care if it's one or more fields.

Something like `?filter[preset]=complex` would b

[2015-06-30 17:28] esasse commented on #278
Perfect! I can even use the way I wanted `?filter[my_preset_filter]` and I'll get `my_preset_filter` in `apply_filter` method.

[2015-06-30 17:28] #278 closed

[2015-06-30 17:28] esasse commented on #278
Thanks @slaskis!

[2015-07-01 04:04] thinkerbot opened #279 "Error in PATCH does not rollback changes"
I'm trying to upgrade to 0.4.2 from 0.3.1 and found that an error in a PATCH request will no longer rollback changes to the database made during the update.  Something is going on that makes it so the request is not wrapped in a transaction.  I'm not sure if other methods are affected as well.

To reproduce I forked peeps and added a bit of code make a change to the database and then raise an erro

[2015-07-01 09:32] slaskis commented on #278
Glad I could help @esasse!

[2015-07-02 14:28] #271 closed

[2015-07-02 20:28] lgebhardt commented on #279
That's happening because you are raising an error that isn't derived from `JSONAPI::Exceptions::Error`. I hadn't noticed that this bypassed the rollback code.

I'll add some handling for other types of errors so the rollback happens. I'll probably return a `500 Internal Server Error` in this case and log the exception.

If you wish to use the exception for flow control you will still probably want

[2015-07-02 20:31] #259 closed

[2015-07-02 22:20] #279 closed

[2015-07-03 07:51] thibaudgg opened #281 "CreateResourceOperation must return 204 No Content with Client-Generated ID"
Hey!

According to the format:

At the moment only `201 Created` and `202 Accepted` are supported (https://github.com/cerebris/jsonapi-resources/blob/master/lib/jsonapi/operation.rb#L181) and `201 Created` is returned instead of `204 No Content` when the `id` is sent.

[2015-07-03 09:50] thibaudgg opened #282 "Issue with `fields` request params"
As I'm playing with the [Sparse Fieldsets](http://jsonapi.org/format/#fetching-sparse-fieldsets), I encountered some issues.

With the following resources:

[code]

**Relationships are removed from then response when using `fields`, so we can't link a `user` to his `status`.**
[code]
**Association with custom class_name failed with `fields`.**
[code]
returns:
[code]

[2015-07-03 14:03] brandonparsons commented on #276
@slaskis This doesn't appear to be working for me.

@lgebhardt Is there an "approved" way to make this work? I'm trying to include a `has_one` on `model A` to `model B`. `model A` is not a true rails `belongs_to` to `model B` (it's the other way around, but I need to include the association in this direction in the API.  The reason I'm getting n+1 is because I've done (in `model_a_resource.rb`):

[2015-07-03 14:47] brandonparsons opened #283 "Default `include` using ResourceController?"
I'd like the server to always include some related records for some specific resources.  Is there a way to do this with the built-in resource controller without overriding anything?

[2015-07-03 14:48] brandonparsons commented on #283
Ooops, this is a duplicate of #251 .

[2015-07-03 14:48] #283 closed

[2015-07-03 15:27] #218 closed

[2015-07-03 18:06] slaskis commented on #276
@brandonparsons that's too bad :(

I have a similar situation (or I have a bunch of different similar situations, but this is one) which might help:

I abuse the attributes a bit to "embed" a preview (that is an image resource) in a project. But the preview is really just the first associated _content_ resource.

The `EmbeddedAttributes` module adds `embedded`-method which does pretty much the sam

[2015-07-04 13:42] lgebhardt commented on #279
I look at the Internal Server Error as a final line of defense to keeping the responses clean and compliant with JSON API. I think having a custom error handler for any anticipated errors is still the way to go.

[2015-07-04 13:53] lgebhardt commented on #276
I don't know if this will change anything, but I just made #284 which mainly allows you to use an alternate relation based on the context. But to make that work I needed to fix a few things with the current code to avoid N+1 queries. Specifically getting the IDs was using different code than getting the related records and Rails wasn't able to use the eager loaded records. Before spending too much

[2015-07-05 07:36] amosjyng commented on #151
Having a similar problem, in RSpec

[code]

produces

[code]

But the same request using the Postman app seems to work just fine. Any ideas how to fix this?

[2015-07-05 14:07] lgebhardt commented on #151
You have quotes wrapped around the payload. I'm not using RSpec, but that should probably be a hash.

[code]

[2015-07-05 19:28] amosjyng commented on #151
Well that was embarrassing. Haha works now, thanks a lot :)

[2015-07-05 20:29] amosjyng opened #289 "Add location to response?"
Right now this unit test doesn't pass:

[code]

It would appear the response location header is not set?

[code]

The JSONAPI spec [does seem to require it](http://jsonapi.org/format/#crud-creating-responses-201), though.

[2015-07-06 01:04] lgebhardt commented on #289
The location header isn't currently returned. It's a **SHOULD** requirement and not a **MUST**, so it's not technically required, but I agree we should get it added in soon.

[2015-07-06 18:39] iamvery opened #291 "Why integers for primary key?"
Hopefully this is an appropriate channel for a question like this.

I'm curious why it was decided that the type of a resource's `primary_key` [must be an integer](By default only integer values are allowed for primary key.) by default.

It struck me as odd because the JSON API specification says that the `id` of a resource object, [must be a string](http://jsonapi.org/format/#document-resource-ob

[2015-07-06 18:57] lgebhardt commented on #291
Simply that rails by default uses integer values for ids. It was a decision made early on. At that point I don't believe that JSON API specified that ids must be strings (but my memory is full of cobwebs as far as the early spec goes). We figured that the two most common key formats would be ids and guids. Guids will have differing logic based on the system, so we stuck with integer ids for the de

[2015-07-07 13:50] iamvery commented on #291
That makes sense! I wonder if it'd be worth reconsidering now that the standard is string? It's not really a big deal, but the `verify_key` convention feels a little messy. No big deal, just thinking out loud :smile_cat:

Another question if you don't mind, we set a custom primary key in a resource:

[code]

This was enough to allow us to do things like:

[code]

Interestingly there is still somet

[2015-07-07 16:51] iamvery commented on #291
I'm already feeling some additional pain from our custom "primary key". I think the _key_ (pun!) is that we haven't changed the actual primary key of the underlying model. I believe this confuses things, such as relationships between records using the default `id` as PK. When creating relationships, you would use `id`, but PK should be consistent in representation. This sounding legit?

[2015-07-07 17:31] lgebhardt commented on #291
@iamvery For now this is an ok place for questions, though I would like to get a discussion forum in place to keep the email down for people following the project.

The primary_key logic is old, and outdated. Your resource's primary key really must match the model's primary key for the relationships to work. I'm going to look into the best way to make this clear in the readme, and maybe automate t

[2015-07-07 20:07] iamvery commented on #291
That makes sense to me. Thanks for you patience with me! Hopefully we can contribute value back here as we continue to realize our domain. :heart:

[2015-07-07 20:07] #291 closed

[2015-07-07 21:03] thewatts commented on #268
@achan -> did you also have to specify the `model_name` in the `BulletinResource`?

ex: `model_name "Basechurch::Bulletin"`

[2015-07-07 21:23] achan commented on #268
Yes I did: [source](https://github.com/openmcac/basechurch/blob/master/app/resources/basechurch/v1/bulletin_resource.rb#L14)

And if it's any use to you, here's the resource serializer I hacked up to hardcode my custom engine mount path.

[2015-07-08 00:00] thewatts commented on #268
@achan && @lgebhardt

The tricky thing here is finding out, within the scope of the serializer, where the engine (if it is in fact an engine) is being mounted within the parent app. You can find out by calling, say:

[code]

Within the scope of the serializer, there is the available `@primary_class_name` variable, that in the above case would be `:basechurch`.

The source in this case is an instan

[2015-07-08 04:05] haydn opened #294 "Missing resource linkage in the relationship object for has_many associations?"
Is there a way to include the [resource linkage](http://jsonapi.org/format/#document-resource-object-linkage) in a `has_many` relationship? For me it's coming through for `has_one` relationships as I'd expect, but not for `has_many` relationships.

Here's a snippet of what I'd expect to see:

[code]

This is an example of what I'm actually getting:

[code]

I added the following test to [controlle

[2015-07-08 12:36] lgebhardt commented on #294
The short answer is that this is intended behavior, and it's compliant with the JSON API spec. To fetch the relationship data specify the relationship in `include`, or follow the provided `related` link.

The longer answer is we currently are taking the option to exclude the relationship data for has_many relationships because we do not yet have a working sub pagination system in place for associa

[2015-07-08 13:59] iamvery opened #295 ""Virtual" or "Meta" Resource"
I'm interested in how we might be able to accomplish the behavior of a "virtual" resource, i.e. a resource that is not backed by a model and table sharing its name.

## Example

Say we have a table, `employees`. The table has an traditional AR `id` and a `badge_number` column which is unique. We may have an `EmployeeResource` which looks up employees by their db `id`, but what if we also wanted to

[2015-07-08 15:20] lgebhardt commented on #295
I imagine there are a few ways you could accomplish this. Given you are using ActiveRecord I'd try to create a Model that's not backed by the database. See: http://asciicasts.com/episodes/193-tableless-model

I haven't tried that, but it seems like it should be adaptable to your needs.

[2015-07-08 15:23] lgebhardt commented on #268
@thewatts Getting support for engines would be nice, and a PR would be appreciated. Ideally I'd like to get to a solution that works with a minimum of configuration for using engines or not. I haven't really tried the code above, so I'm not sure how close it comes to that ideal.

[2015-07-08 15:54] iamvery commented on #295
@lgebhardt thanks for the reply. We'll see what I can get working and post back what we come up with as a solution.

[2015-07-08 16:14] jonkoops opened #296 "Related records route mismatches parameter when primary key of resource is not id."
I made a simple setup of a blog application to illustrate my issue. The app has a Post resource with the primary key set to `slug`. A post can have many comments so a Comment resource is also included.

**app/models/post.rb**
[code]

**app/resources/post_resource.rb**
[code]

**app/models/comment.rb**
[code]

**app/resources/comment_resource.rb**
[code]

With this setup I can get a list of posts w

[2015-07-08 16:57] slaskis opened #297 "Faster API with fragment caching?"
I've previously tried to speed things up with eager loading of the includes. And it seems to work pretty well so far. And by [patching the JSON renderer](https://github.com/GoodLife/rails-patch-json-encode) the view rendering has gone from like 20% of the profiling time to less than the threshold.

But now I've narrowed the biggest bottleneck down to "building the JSON". Basically 90% of the reque

[2015-07-08 21:21] senid231 commented on #143
jsonapi_related_resources allows only get resources
i use workaround to have ability to create/update/destroy nested resources
[code]
[code]
[code]

[2015-07-08 21:22] thewatts commented on #268
@lgebhardt && @achan --> opened a WIP Pull Request (needs tests and a refactor).

@achan would love to know if this works on your end (functionality is there - at least, when I tested locally with my own engine).

[2015-07-08 21:32] senid231 opened #299 "why relationships for has_one association have data inside?"
[code]
[code]
```Started GET "/authors/1"```
[code]
i thought that according to [documentation](http://jsonapi.org/format/#fetching-relationships) relationships should have data hash only when you include this relation or fetching data using related link like ```http://127.0.0.1:3000/authors/1/relationships/author_type```

[2015-07-08 21:51] senid231 opened #300 "broken has_one for ActiveRecord has_one association"
[code]
[code]
[code]
when i trying to fetch resource it fails with:
[code]
cause this code
[code]
defines correct method only for ActiveRecord belongs_to type of relation.
for ActiveRecord has_one it fails

i find a workaround:
[code]
but i think has_one in resources should have some option that allows to change it's behaviour

[2015-07-08 21:54] senid231 commented on #299
when we using workaround from #300 ```Author``` fetch additional data when generating data for ```relationships: author_detail```

[2015-07-08 21:59] senid231 commented on #300
but this workaround will generate additional sql requests cause relationships for has_one relations always have id in data hash #299
unless you do another workaround like
[code]

[2015-07-09 01:08] haydn commented on #294
@lgebhardt Thanks for the great response. That all sounds perfectly reasonable and makes sense to me.

The particular project I'm working on is an Ember app that is getting migrated over to JSONAPI from Active Model Serializer. Because of the way things are already setup we're having a problem where hundreds of relationships are getting looked-up only to discover that the related models have alrea

[2015-07-09 01:59] andresberrios opened #301 "Cursor Pagination missing?"
Hi! I'm sorry if this is a silly question but I can't seem to find the Cursor Paginator, even though it's mentioned in the Readme. I really want to use it if it's there somewhere, before spending time rolling up my own.
If there's no cursor paginator, I've been thinking of using https://github.com/Kukunin/cursor_pagination (although it seems a bit old) to integrate it as a resource paginator.
What

[2015-07-09 02:38] lgebhardt commented on #299
http://jsonapi.org/format/#document-resource-object-relationships

For has_one relationships it does return the resource linkage, but not currently for has_many relationships. As I read the spec that is in compliance, but it is not consistent. Maybe we should change that.

[2015-07-09 02:52] lgebhardt commented on #294
Sorry about that. That section of the readme is out of date. Your proposed change is correct.

The relevant function is `link_object_has_many` in resource_serializer.rb. You can probably just remove the `if include_linkage`

[code]

[2015-07-09 02:57] lgebhardt commented on #301
You are correct that cursor pagination isn't implmented yet. Some work was done, but it didn't work correctly so I pulled it and haven't gone back to it. It should have been removed from the readme (until the feature is finished). Sorry for the confusion.

[2015-07-09 03:43] achan commented on #268
@thewatts It doesn't seem to work for me. My Gemfile.lock indicates that I've got your branch installed, but `/api/v1/bulletins/20` still looks like this:

[code]

Sorry I can't provide any more information at the moment :disappointed: but I'll see if I can help out when I can free up some time.

[2015-07-09 07:08] andresberrios commented on #301
Ok @lgebhardt , thanks for the answer!
By the way, do you know of any good, reliable gem that implements cursor pagination?

[2015-07-09 07:08] #301 closed

[2015-07-09 07:55] senid231 commented on #299
specification says that:
"Resource linkage in a compound document allows a client to link together all of the included resource objects without having to GET any URLs via links"

so we should not add it if resource is not included.
i think data for not included relationships i redundant

[2015-07-09 08:33] Fivell commented on #300
+1,
@lgebhardt , what is the recommended solution  when working with active-record belongs_to ?

[2015-07-09 11:51] lgebhardt commented on #301
@andresberrios Sorry, I don't know of a good gem at this point.

[2015-07-09 12:04] lgebhardt commented on #299
That's for compound documents, which is additionally restrictive over the case for a regular document, which states:

object"). Members of the relationships object ("relationships") represent
references from the resource object in which it's defined to other resource
objects.

  * `self`: a link for the relationship itself (a "relationship link"). This
    link allows the client to directly manipu

[2015-07-09 12:34] lgebhardt commented on #299
I've just been looking at the code changes needed to change this behavior, which should be minimal. This reminded me of the primary reason I chose to include the the resource linkage for has_ones, which is the ability to see nil/null values.

@dgeb, and anyone else, do you have an opinion on the stance JR should take on serializing resource linkage for a has_one relationship that is not included?

[2015-07-09 13:17] Yoshyn commented on #296
+1

[2015-07-09 13:48] dgeb commented on #299
@lgebhardt you're right - it is still compliant to include relationship data even in a non-compound document. However, I think this has limited utility. The knowledge that a relationship is currently empty could prevent another fetch. But on the other hand, if a fetch of related data _might_ be done why not request a compound document in the first place?

I would favor consistency between has-one

[2015-07-09 13:53] beerlington opened #303 "Paginating nested resources"
I'm running into an issue where pagination is ignored when you have nested resources. Is this a known issue?

For example, the following query returns 2 change logs:

But if I curl the same resource nested within its parent, it returns all change logs:

Another thing I noticed that's probably related is that the first request includes the pagination "links" attribute at the end of the response JSO

[2015-07-09 14:48] senid231 commented on #299
on my opinion, configurable option with default that fits for most of cases is the best solution. maybe, links objects for relation can be optional and configurable too.

we have situations when there are no ```jsonapi_relationships``` in ```routes.rb``` but response generate relationships with ```related``` links (and they are not valid).
or resource have association that didn't have its own cont

[2015-07-09 17:54] lgebhardt commented on #299
I'll work up a PR.

[2015-07-09 18:07] lgebhardt commented on #303
I'll look into this and let you know when i have a fix.

[2015-07-09 18:49] beerlington commented on #303
@lgebhardt I might have some time this week to dig into it if you don't get to it first. Thanks!

[2015-07-10 01:45] lgebhardt commented on #300
I'll get this fixed soon. It broke in the latest release due to some work on the relations and eager loading.

Before both has_one and belongs_to could be treated as has_one when defining a resource. I think this may end up changing and we'll end up needing to distinguish between the two association types. I think has_one will end up using code very similar to the work around @senid231 shows (that

[2015-07-10 14:18] Yoshyn commented on #257
Hi.
I use your monkey patch in my codebase and it work well.

But i have an issue with the pagination. it's still generate me url with the ```api/v1/ ``` segment.
I was unable to find where theses routes are generated.

Is someone have an idea (monkey-patch or not) to make this work?

[2015-07-10 20:31] #268 closed

[2015-07-10 22:14] iamvery commented on #295
We were able to pull this off with your suggestion of using a PORO model. So given a resource:

[code]

The model got a little awkward because it had to quack like an AR model.

[code]

It feels like maybe we're still a little over-coupled to the assumption that resources are backed by db models. A problem, but not one that can't be fixed :dancer:

[2015-07-10 22:14] #295 closed

[2015-07-11 02:31] iamvery commented on #291
@lgebhardt after having used the framework a little more, I'm curious what went into the decision of having resource primary keys map directly to db primary keys? It seems reasonable to me that you could model your resource differently than the database.

Would this be something you'd consider?

[2015-07-11 02:45] iamvery commented on #296
I dug into this a little more and found out the source. The problem is the parameter generated by the route is `[resource name]_id`. You can see this with `bin/rake routes`. But the resource controller via strong parameters checks that a parameter by the name of the resource's parent key. If you follow that to [it's implementation](https://github.com/cerebris/jsonapi-resources/blob/8e4702cde4718a7

[2015-07-11 03:02] lgebhardt commented on #291
@iamvery I would certainly be open to making that work. Decoupling the resource a bit from the model was in fact the original plan. However I ran into problems once we started dealing with the associations. I don't think it's a simple nut to crack, but I'm sure it's possible in some form.

[2015-07-11 03:14] iamvery commented on #291
Good to know! I'm really interested in the standard and the project. Hopefully I can take some time to get more acquainted with the tests and code and attempt to contribute something.

[2015-07-12 15:16] brandonparsons opened #306 "Always use singular version of `type`"
Hi there,

How can I configure `JR` to always use the singular version of `type` rather than plural?

I'm trying to use `JR` with `ember-data 1.13.5`, and the new `store.push` API which accepts a JSON-API formatted document.  When I push the response from `JR`, I get `no model found for 'posts'` because it is returning the plural version for type, whereas my ember app has a model for `post`.

[2015-07-12 16:53] bmac commented on #306
Hi @brandonparsons. Ember Data should work well with jsonapi-resources. While its true Ember Data's `store.push` method accepts a JSON API document that has singularized types and camelCased attributes names, Ember Data ships with a `JSONAPISerializer` that will automatically singularize the types and camelCase the attribute names returned by jsonapi-resources. If you use `store.pushPayload` inste

[2015-07-12 17:57] brandonparsons commented on #306
Thanks for the quick reply @bmac . I tried `pushPayload`, but I thought it would be convenient to use `push` as it would return the resource.  A combination of `pushPayload` and `peekResource` would be the way to go then?

[2015-07-12 18:01] brandonparsons commented on #306
@bmac Takes an extra line of code (doesn't matter!) and works:

[code]

[2015-07-12 18:02] #306 closed

[2015-07-13 07:32] senid231 opened #307 "raises InvalidLinksObject when request have has_many relationship without data"
i just fetch author using json_api_client (without including posts), change name and try to save it
[code]
in ```JSONAPI::Request```
[code]
```raw``` is a ```data``` from ```relationships: posts``` (in my case)
so when i send ```PATCH``` with relation without data linkage it fails
[code]
[code]

i think it isn't correct behaviour. resource should ignore data linkage of relationships if it is nil
g

[2015-07-13 11:52] lgebhardt commented on #307
The spec says:

so it's fairly clear to me we need the `data` member for the relationship. But I'm open to different interpretations.

Currently the `links` object is ignored in an update. When I wrote the update section I was wondering if we should be rejecting requests that contain it. The spec doesn't address that scenario. So any opinions on whether this is the correct course of action would a

[2015-07-13 14:23] xdmx commented on #301
@andresberrios if you find a way / work out a way to have cursor pagination with jsonapi-resources it'd be great to have it as a pull request / included in the gem itself along with the other 2 existing ways (paged & offset) :smiley:

[2015-07-13 14:36] senid231 commented on #307
i read specification again.. and i agree with you.
im using [json_api_client](https://github.com/chingor13/json_api_client) as a client and it have no dirty tracking on attributes/relationships (i think about creating PR for this feature when i will have time for it).
it sends all (realtionships, attributes, links) in patch request
so i will change it at the client side

[2015-07-13 14:52] senid231 commented on #307
but now im thinking about something like updatable_relationships/creatable_relationships that will work same as similar methods for attributes.
it will send error when client trying to update restricted relation

[2015-07-13 15:24] senid231 commented on #307
no need to create new methods
we can write
[code]
that will exclude realtionship ```posts``` from allowed_fields list and server will return correct error

[2015-07-13 15:24] #307 closed

[2015-07-13 17:27] senid231 commented on #282
i think it works fine with last release
```curl -X GET -i -H "Accept: application/vnd.api+json" -d "include=author_detail&fields[authors]=name&fields[author_details]=address" "http://localhost:3000/authors"```
[code]
[code]
[code]

[2015-07-13 17:50] senid231 commented on #303
i use such workaroung to work with nested resources
[code]
[code]
[code]
as result:
[code]

[2015-07-13 17:55] senid231 commented on #303
but nested resources doesn't have meta and top level links with pagination
and ```links: :self``` in data is incorrect
here you can see response of not nested resource on same server
[code]

[2015-07-13 18:39] senid231 commented on #303
i think problem in ```JSONAPI::ShowRelatedResourcesOperation```
[code]

first of all it returns ```ResourceOperationResult``` (that is strange because ```related_resource``` is an array) but pagination links adds only if result is instance of ```ResourcesOperationResult```

[2015-07-13 19:23] senid231 commented on #303
[code]
i think base_url should return correct url for nested resources

[2015-07-13 19:51] xdmx opened #309 "Permit to filter using the text value of a rails enum"
I have a rails `enum typology: [:foo, :bar]`

I can add in the resource a `filter :typology` and it works when I filter by `0` or `1`.

It would be great to recognize that it's an enum and thus accepting also the text version `filter[typology]=foo` and `filter[typology]=bar`

[2015-07-13 19:59] senid231 commented on #303
i use workaround to fix it
[code]
maybe something like this should be included into next PR ?)

[2015-07-13 20:08] xdmx commented on #291
@lgebhardt you could ask the guys at http://discuss.jsonapi.org/ to have a section for jsonapi-resources maybe? otherwise I've seen some projects here on github using gitter.im although it'd be more like a chat and it could become quite confusing (I've never used it)

[2015-07-15 02:08] andresberrios commented on #301
@xdmx sorry, I was going to integrate another gem as a custom paginator, but now I've struggled for several days trying to have custom actions and overriding default behaviour in JR and I've found no remotely simple way, so I'm going to have to go back to normal rails for now. I really want to see how JR evolves, but for now I have to move on.
Still, thanks for the awesome work.

[2015-07-15 12:22] pmukerji opened #314 "Filtering included resources"
We have a use-case where it would be useful to apply filters to the included resources.

Dummy example:

[code]

Individually, one can filter the `shoes` and `socks`
`/shoes?filter[in_use]=true`
`/socks?filter[in_use]=true`

I was wondering if it would be possible to filter the shoes and socks when included with the `User`?

e.g. To get the user, and the shoes and socks he currently has in use, so

[2015-07-15 12:37] pmukerji commented on #282
@senid231 - Thanks for trying this out. I updated to 0.4.4 but am still getting the same error. Are you on 0.4.4?

The fields work fine for other includes where we don't use a custom class.

[code]

[2015-07-15 13:08] lgebhardt commented on #314
Filters on the included resources is currently not supported, but would be very useful. Hopefully we can get it added in an upcoming release.

[2015-07-15 13:50] lgebhardt commented on #282
I'll try to get a fix for this into the next release.

[2015-07-15 22:42] wagenet opened #316 "Infer class_name for associations"
Consider the following model:

[code]

The resource would have to be:

[code]

Would it be possible to infer the `class_name` from the model to avoid having to duplicate information?

[2015-07-16 03:46] brandonparsons commented on #276
@slaskis Not sure what I was doing wrong before, but your approach does appear to be working for me now. Will close this issue.

[2015-07-16 03:46] #276 closed

[2015-07-16 09:26] krzkrzkrz opened #317 "Am I supposed to disable strong params? Or have it enabled?"
I have a request being sent to http://localhost:4099/api/v1/items/199 (`PATCH`).

It seems JR can't find `data` when it is clearly in the payload.

I get:

    {"errors":[{"title":"Missing Parameter","detail":"The required parameter, data, is missing.","id":null,"href":null,"code":106,"path":null,"links":null,"status":"bad_request"}]}

But the payload has:

    {"data":{"id":"199","attributes":{"c

[2015-07-16 13:24] selaromi commented on #242
Hello Igebhardt! Could you please clarify what changes have to be made to accept nested resources creation? Is there a way to make it work with server generated ids?

Thanks!

[2015-07-16 15:38] bartocc commented on #87
Am I wrong or has this been fixed in 0.4.1 ?

[2015-07-16 15:39] #300 closed

[2015-07-16 18:15] lgebhardt commented on #242
@selaromi First, anything you do won't be JSON API compliant at this point. But to hack this into JR you would need to modify the Request class to accept the new format and create the operations and the CreateResourceOperation class contain the new request data and insert it into the models.

I'm sure it could be made to work with server side ids. The tricky part is that the operations in JR stand

[2015-07-16 19:21] krzkrzkrz opened #319 "Support for coalesce / batch find queries"
Does the library support coalesce find requests? So lets say I need to find 3 `items` with ids: 1,2,3.

Instead of performing 3 api calls. It does it in one, passing the id as a param. So the request URL would look something like:

    http://localhost/api/v1/items?filter[id]=1,2,3

Which also avoids `n+1` queries. Ember for example will allow sending this type request. More details at http://embe

[2015-07-16 19:24] kagemusha opened #320 "Preferred way to add current_user to newly created resource"
I'm trying to add current_user to a newly created item.  I could do this is a controller, but seems would result in lots of mucking getting strong params to work.  Docs seem to suggest this type of stuff done in the resources?

So I was thinking of adding in an after_create in the resource file but current_user is not available there.  I thought that doing something like this in base ApplicationCo

[2015-07-16 19:27] #299 closed

[2015-07-16 21:51] lgebhardt commented on #320
It looks like your context method is correct. The context should should be available on the resource. Is it possible the current_user method isn't returning a user?

I assume you are trying to access the current user through the `context` and not directly as `current_user`.

One other option, besides the callback, is to override the `save` method on the resource:

[code]

But again that will requi

[2015-07-16 21:54] lgebhardt commented on #317
JR does use strong parameters. I haven't tried disabling it.

[2015-07-16 21:55] lgebhardt commented on #87
The paginators do output top level links now. I don't have any guidance for using them with ember-data. Hopefully someone else can chime in.

[2015-07-16 22:10] lgebhardt commented on #319
It should only run one query. it should be something like this:

[code]

[2015-07-16 23:03] john-griffin commented on #87
Ember data does not currently support JSON API pagination links. You can see progress here as "Sugar for pagination" https://github.com/emberjs/data/issues/2905

[2015-07-16 23:03] jonkoops commented on #296
@iamvery I think it would make sense to keep the name given by the route since the JSON API specification requires a resource to have a unique identifier.

[2015-07-17 01:50] krzkrzkrz commented on #317
Any reason why it can't find `data` then?

[2015-07-17 02:26] ramontayag opened #321 "Desired behaviour when model is not found"
I created a resource (let's say `ArticleResource`) and the model is called `Page`. You can fix this by setting the model name on the resource, but if you forget to do that you get a cryptic error `undefined method `order' for nil`. See the top part of the error here:

[code]

What would the desired behaviour be? Perhaps raise an exception `model Article could not be found for ArticleResource`? I d

[2015-07-17 02:45] lgebhardt commented on #317
The payload looks correct. How are you calling the method? Have you looked at the params in a debugger? See what's coming into the Request.setup_action method. Hopefully it will be obvious when you look in there.

[2015-07-17 02:51] lgebhardt commented on #321
@ramontayag Good catch. That is an ugly error for what's probably a common omission. I think raising an exception would make sense.

[2015-07-17 03:05] lgebhardt commented on #316
Good idea, and yes, it looks like it can be done. I'll try to get a change in soon.

[2015-07-17 06:57] krzkrzkrz commented on #317
How do you mean? This is what I have. It also doesnt seem like the actions are being called from the controller first. Otherwise, `raise` would have executed....

[code]

[2015-07-17 09:34] pmukerji commented on #257
Updated monkey patch that works with JR `0.5.0`:

[code]

[2015-07-17 10:16] mintcore opened #323 "Support for creation/deletion of relationships via join_tables?"
Is this possible right now or is it something waiting to be implemented? I've been trying to setup a follower pattern but cannot seem to make it work. I can list existing relationships but not create any new.

Should i think about the relationships as it's own object and handle the creation via attributes maybe?

[2015-07-17 13:46] lgebhardt commented on #323
It's definitely something that should be in there, and its absence is an oversight. We don't have tests for this scenario, and in my own use of JR the join tables happen to be resources themselves. So I guess I'm not surprised this doesn't work.

Until this get's fixed the easiest work around may just be to treat the join table as a resource.

[2015-07-17 22:56] kagemusha commented on #320
Ok think the problem may have been that I had context in ApplicationController, which doesn't include JSONAPI::ActsAsResourceController.  This is in a subclass which is the base class for all controllers which need this.  Moving the context method there  and overriding save as you suggest works.  Thanks!

[2015-07-18 15:44] thomassnielsen opened #325 "fetchable_fields doc or implementation bug"
In readme.md there's a code sample for using fetchable fields:

[code]

When I tried to implement this, I got an error that super doesn't take any arguments. Removing `(context)` made the code work as expected. Is this a doc bug or a bug in the fetchable_fields implementation? I'm using `JSONAPI::ActsAsResourceController`, if that has anything to do with it.

[2015-07-18 20:45] henrymazza opened #326 "Filter by NULL"
How to filter by NULL on a GET request?

If I make a query without the equal sign the parser even finds out the right parameters hash, but the filter code ignores it!

[code]

[2015-07-19 07:28] adamworrall opened #327 "Best way to do optimistic locking?"
I've got a resource that multiple users could potentially edit at the same time, and I'd like to implement optimistic locking.

What would be the best way to require the `lock_version` attribute is present in any update requests made to this resource, and also provide useful error messages for the end user if they've got a stale model? Is this where you'd make a custom `OperationsProcessor`?

[2015-07-20 09:49] thibaudgg commented on #282
@lgebhardt :+1: thanks!

[2015-07-20 11:36] lgebhardt commented on #320
That makes sense. Importing `JSONAPI::ActsAsResourceController` is overriding the `context` method you have defined in your base class. That's a scenario I hadn't considered. I'll at least add a note about this in the readme. Thanks for following up with the cause.

[2015-07-20 13:35] lgebhardt commented on #325
Sorry, that's a documentation error. If I remember correctly we removed passing in the context because it's available on the resource instance. We should have cleaned up the super calls as well.

[2015-07-20 15:42] lgebhardt commented on #326
If you specify an empty filter the find method does not by default assume you are looking for null values. There are several options you could take. To make an empty search for relationships find null values you could override the `verify_relationship_filter`

[code]

You could also override the `apply_filter` method to implement a keyword that indicates a search for null, such as 'none':

[code]

[2015-07-20 15:54] jonkoops commented on #296
@lgebhardt Could you confirm wether this behaviour is a bug or not, or where we could override these defaults?

[2015-07-20 15:54] lgebhardt commented on #327
The `ActiveRecordOperationsProcessor` doesn't handle the `ActiveRecord::StaleObjectError`, so you would definitely want to override that and create a custom error for that case.

I think you would also need to add the `lock_version` field to the resources. Not having tried this, I'm not sure what else would need to be done.

This seems general enough that we should probably get this into the main

[2015-07-20 15:57] lgebhardt commented on #296
@jonkoops I'm not sure at this point. I'll look into it.

[2015-07-20 17:37] jonkoops commented on #296
@lgebhardt I noticed the issue @iamvery mentioned was resolved. You might have fixed the issue in [this pull request](https://github.com/cerebris/jsonapi-resources/pull/293). Not quite sure though.

[2015-07-20 18:12] lgebhardt commented on #296
@jonkoops Ok. If it's been resolved could you please close this issue. If not I'll try to look soon.

[2015-07-20 20:50] jonkoops commented on #296
@lgebhardt I checked using the v0.5.0 release, but the problem is still present.

[2015-07-20 20:51] lgebhardt commented on #296
Thanks for checking. I'll look at it soon.

[2015-07-21 03:04] hinshun opened #330 "Custom Operations"
As per discussed in #129, I would like to do other tasks within a CRUD operation.

For my specific use case, I would like to create related resources upon creating a parent resource. The API is still strictly CRUD and compliant with JSONAPI, but under the hood I would like to have business logic that lives on the server side rather than the client. I found that decoupling this sort of code into se

[2015-07-21 14:39] adamworrall commented on #327
Sounds good, I'll take a crack at it!

[2015-07-21 17:25] kagemusha commented on #320
@lgebhardt no problem.  btw the app this relates to is an [example rails api server] (https://github.com/kagemusha/crambear-api) with ember-cli pair of apps.  would love suggestions for improvements in jsonapi-resources usage and feel free to cite it as a somewhat more extensive example than peeps.  In any event, will have more questions for you in near future.

[2015-07-22 16:46] henrymazza commented on #326
Great! For searches of strings should I override apply_filter or find? Who’s that?

[2015-07-22 16:46] #326 closed

[2015-07-22 17:26] lgebhardt commented on #326
@henrymazza I think apply_filter is easier implement since it's setup to let you modify each filter. But the same thing could be done by overriding find, however it's probably more complicated and would be overkill in most situations.

For your string searches you could do this (not tested code, so there are possible errors):

[code]
That should make all filters do a case insensitive like search.

[2015-07-22 17:53] henrymazza commented on #326
Works great (if you delete the colon :smile_cat:)!

`apply_filter` is really growing here. It’s checking for NULL, if query is asking for a different scope and now searching. It’s probably the main method to look after when porting an old rails app. I was asking for more switches, but now I’m felling home.

[2015-07-22 18:05] lgebhardt commented on #326
Great, glad it mostly worked! Also, I cleaned up the colon in the example.

[2015-07-22 19:36] henrymazza commented on #326
When `@top_level_meta_include_record_count=false` should it still make the second query to database asking for the counting? It’s breaking me when I include some fancy stuff on select clausule because Postgres wants it there (order by similarity).

If it’s really a bug I can open another issue.

[2015-07-22 21:51] lgebhardt commented on #326
Sounds like a bug to me. It shouldn't be running the count query if you don't ask for the count.

[2015-07-23 08:48] thibaudgg commented on #166
@xdmx could you share a public link so we can see an apitome style example?

[2015-07-23 11:26] barelyknown commented on #166
I made an example that included generated docs using `rspec_api_documentation` for a talk at Boston Ember earlier this month. Here's [the code](https://github.com/barelyknown/json-api-example) and [the documentation](https://barelyknown-json-api-example.herokuapp.com/docs). It would be straight forward to fiddle with it to try different styles.

[2015-07-23 11:37] macasek opened #332 "Custom primary key issue"
Hello, I recently started playing around with jsonapi-resources for a project. I am hoping to convert an existing Rails 4 service to use JSON API. While I was experimenting with jsonapi-resources I ran into issues with a model that has a `primary_key` other than `id`. After some debugging I believe I tracked down the issues but before I take it too far I wanted to get some feedback to make sure I

[2015-07-23 12:30] thibaudgg commented on #166
@barelyknown thanks! I'll have a look.
This [docs](https://barelyknown-json-api-example.herokuapp.com/docs) is using the default html export right?
We're currently using `slate` and we really like its nice out-of-the-box style/design. The only think that prevent me to try `rspec_api_documentation` is its non-style by default.
Would be nice to have an `rspec_api_documentation` => `slate` export too

[2015-07-23 13:16] lgebhardt commented on #332
Which version are you using?

On your User model is the actual primary key `:uuid`, or is it internally `:id`?

[2015-07-23 13:26] macasek commented on #332
I am using the head of master.

The User model has an actual primary key of `:uuid`

[2015-07-23 13:28] lgebhardt commented on #332
Sounds like a bug then. I'll see if I can reproduce and fix it.

[2015-07-23 13:31] macasek commented on #332
Ok. Let me know if you can reproduce it, I would be happy to open a PR with my changes (and tests).

[2015-07-23 13:33] barelyknown commented on #166
Yeah, that's the default.

The design of slate looks nice. I haven't looked at all of the formatting options that you could use, but I'm pretty sure that you can make it look quite nice. If you figure that out, submit a PR to the json-api-example repo (if you have the time).

Thanks for the nice words about the podcast. I appreciate it.

[2015-07-23 16:10] senid231 opened #334 "can not delete nested resource"
[code]

i can not delete nested resource
[code]
it happens because of
[code]
in my case `params.permit(:id)` raises error because i set `action_on_unpermitted_parameters = :raise` in config

[2015-07-23 16:13] Fivell commented on #334
https://github.com/cerebris/jsonapi-resources/blob/d0c1a6875fe4c645e6f83a980d54f90feaa1249c/lib/jsonapi/request.rb#L607

[2015-07-23 16:24] senid231 commented on #334
jsonapi-resources do not permit additional params only in delete action.
in other action you can pass into query any additional params and request will be valid
[code]

maybe for delete action we should also ignore them

[2015-07-23 17:11] henrymazza opened #335 "“Auto count records” query is firing even when feature disabled"
This code:
[code]
Generates this log:

[code]

Observe the `@top_level_meta_include_record_count=false` on configuration. The counting isn’t being included in the meta of JSON payload either.

As an aside, the original query had a diferent SELECT to make postgres include the similarity between the attribute and the search term. It blows up when you `.count` the relation. Is there an workaround?

[2015-07-23 17:11] henrymazza commented on #326
Ok. Here it is: https://github.com/cerebris/jsonapi-resources/issues/335

[2015-07-24 01:13] #321 closed

[2015-07-24 11:40] senid231 commented on #326
ActiveRecord don't like to filter by empty array. it use `WHEN 1=0` condition to show it.
we could sort by ```NULL``` like this:
[code]